<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>ID</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Unknown</string>
			<key>SpecialStaticeMakeup</key>
			<integer>1</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>EnableTouch</key>
					<integer>0</integer>
					<key>EnableSlam</key>
					<integer>0</integer>
					<key>EnableARPlane</key>
					<integer>0</integer>
					<key>EnableGesture</key>
					<integer>0</integer>
					<key>EnableFood</key>
					<integer>0</integer>
					<key>EnableAnimal</key>
					<integer>0</integer>
					<key>EnableHandPose</key>
					<integer>0</integer>
					<key>SegmentType</key>
					<integer>-1</integer>
					<key>EnableGyroscope</key>
					<integer>0</integer>
					<key>EnableSkeleton</key>
					<integer>0</integer>
					<key>EnableBodyContours</key>
					<integer>0</integer>
					<key>EnableFaceMouthMask</key>
					<integer>0</integer>
					<key>EnableFace</key>
					<integer>0</integer>
					<key>EnablePictureMode</key>
					<integer>0</integer>
					<key>NeedOriginImageRGBA</key>
					<integer>0</integer>
					<key>NeedCustomImageData</key>
					<integer>0</integer>
					<key>EnableStickerLayer</key>
					<integer>0</integer>
					<key>EnableTextLayer</key>
					<integer>0</integer>
					<key>IgnoreVisible</key>
					<integer>0</integer>
					<key>EnableFace3DFA</key>
					<integer>1</integer>
					<key>EnableFace3DFAMesh</key>
					<integer>1</integer>
					<key>PacketPath</key>
					<string>BlendShape</string>
					<key>ScriptPath</key>
					<string>Effect3/3d.lua</string>
					<key>Parameters</key>
					<array>
						<dict>
							<key>Type</key>
							<string>SLIDER</string>
							<key>Key</key>
							<string>CONVEX_MOUTH</string>
							<key>ChineseTip</key>
							<string>凸嘴</string>
							<key>EnglishTip</key>
							<string>ConvexMouth</string>
							<key>MinValue</key>
							<string>0.0</string>
							<key>MaxValue</key>
							<string>1.0</string>
							<key>DefaultValue</key>
							<string>0.0</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>SLIDER</string>
							<key>Key</key>
							<string>STRETCH_FACE</string>
							<key>ChineseTip</key>
							<string>拉脸</string>
							<key>EnglishTip</key>
							<string>StretchFace</string>
							<key>MinValue</key>
							<string>0.0</string>
							<key>MaxValue</key>
							<string>1.0</string>
							<key>DefaultValue</key>
							<string>0.0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</plist>
