<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>materialId</key>
		<real>260400001</real>
		<key>isColorAdjustEnable</key>
		<true/>
		<key>isWidthAdjustEnable</key>
		<true/>
	</dict>
	<dict>
		<key>materialId</key>
		<real>260400002</real>
		<key>isColorAdjustEnable</key>
		<true/>
		<key>isWidthAdjustEnable</key>
		<true/>
	</dict>
	<dict>
		<key>materialId</key>
		<real>260400003</real>
		<key>isColorAdjustEnable</key>
		<true/>
		<key>isWidthAdjustEnable</key>
		<true/>
	</dict>
	<dict>
		<key>materialId</key>
		<real>260400004</real>
		<key>isColorAdjustEnable</key>
		<true/>
		<key>isWidthAdjustEnable</key>
		<true/>
	</dict>
	<dict>
		<key>materialId</key>
		<real>260400005</real>
		<key>isColorAdjustEnable</key>
		<true/>
		<key>isWidthAdjustEnable</key>
		<false/>
	</dict>
	<dict>
		<key>materialId</key>
		<real>260400006</real>
		<key>isColorAdjustEnable</key>
		<false/>
		<key>isWidthAdjustEnable</key>
		<true/>
	</dict>
</array>
</plist>
