<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>TextCommonStruct</key>
				<dict>
					<key>Lines</key>
					<array>
						<dict>
							<key>Horizontal</key>
							<string>1</string>
							<key>ORGBA</key>
							<string>255,51,51,51,255</string>
							<key>Justify</key>
							<string>34</string>
							<key>Bold</key>
							<string>0</string>
							<key>Rectangle</key>
							<string>0,0,750,200</string>
							<key>TextString</key>
							<string>请输入文字</string>
							<key>Size</key>
							<string>100</string>
							<key>FontLibrary</key>
							<string>AlibabaPuHuiTi-Regular</string>
							<key>RenderMode</key>
							<string>3</string>
						</dict>
					</array>
					<key>DefaultSize</key>
					<string>750,200</string>
				</dict>
				<key>Type</key>
				<string>MVCommonText</string>
				<key>TextEnum</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
