<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
		
					<dict>
					<key>Type</key>
					<string>CommonFilter</string>
					<key>FilterPoolPath</key>
					<string>filter/FilterPool.plist</string>
					<key>FilterRulePath</key>
					<string>filter/FilterRule.plist</string>
				</dict>
			<dict>
				<key>Type</key>
				<string>KiraV2</string>
				<key>MaterialTexture</key>
				<string>star4_00000.png</string>
				<key>MaterialWH</key>
				<string>200,200</string>
				<key>StaticImage</key>
				<string>1</string>
				<key>Threshold</key>
				<string>100</string>
				<key>NonmaxSuppression</key>
				<string>1</string>
				<key>MinSize</key>
				<string>60</string>
				<key>MaxSize</key>
				<string>80</string>
				<key>CloseSize</key>
				<string>0.025</string>
				<key>ScaleMinTime</key>
				<string>140</string>
				<key>ScaleTime</key>
				<string>260</string>
			</dict>

		</array>
	</dict>
</array>
</plist>
