<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBCCoreEffects</key>
	<array>		
		<dict>
			<key>EffectType</key>
			<string>AREffect</string>
			<key>LayerName</key>
            <string>AR</string>
			<key>TextureRequire:TextureName</key>
			<array>
				<string>ImportTexture0:TouchMask</string>	
			</array>
			<key>CustomParam</key>
			<dict>	
				<key>LayerOrder</key>
				<array>
					<dict>
						<key>LayerName</key>
						<string>ARTouch</string>
						<key>ConfigPath</key>
						<string>ar_effect/ar/configuration.plist</string>
					</dict>				
				</array>
			</dict>
		</dict>	
	</array>
</dict>
</plist>
