<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Alpha</key>
			<string>1.000000</string>
			<key>LutPath</key>
			<string>newCommon/ziran.webp</string>
			<key>Size</key>
			<integer>64</integer>
			<key>Type</key>
			<string>Mapy</string>
			<key>AutoContrastType</key>
            <string>4</string>
            <key>AutoContrastSwitch</key>
            <string>1</string>
            <key>AutoContrastAlpha</key>
            <string>1.0</string>
            <key>NeedCloseAutoContrast</key>
            <string>1</string>
		</dict>
	</array>
</dict>
</plist>
