<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>template</string>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MakeupScript</string>
					<key>EnableFace</key>
					<integer>1</integer>
					<key>EnableFace3DFA</key>
					<integer>1</integer>
					<key>EnableFace3DFAMesh</key>
					<integer>1</integer>
					<key>ID</key>
					<string>105553125624000</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>BEFORE_FACELIFT</string>
					<key>MakeupCustomName</key>
					<string>BEFORE_FACELIFT</string>
					<key>PacketPath</key>
					<string>template</string>
					<key>ScriptPath</key>
					<string>template/template.lua</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
