<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AR</key>
		<string>ar</string>
		<key>CtrlType</key>
		<string>1</string>
		<!-- 窄脸 -->
		<key>NarrowFace</key>
		<string>0.2</string>
		<!-- 短脸 -->
		<key>ShortFace</key>
		<string>0.2</string>
		<!-- 下巴 -->
		<key>Chin</key>
		<string>0.5</string>
		<!-- 小脸 -->
		<key>SmallFace</key>
		<string>0.5</string>
		<!-- 大眼 -->
		<key>BigEyes</key>
		<string>0.3</string>
		<!-- 瘦鼻 -->
		<key>ThinNose</key>
		<string>0.2</string>
		<!-- 嘴型 -->
		<key>MouthShape</key>
		<string>0.5</string>
		<!-- 额头 -->
		<key>Forehead</key>
		<string>0.5</string>
		<!-- 颧骨 -->
		<key>Cheekbone</key>
		<string>0.5</string>
		<!-- 小头 -->
		<key>SmallHead</key>
		<string>0.3</string>
		<!-- 长鼻 -->
		<key>LongerNose</key>
		<string>0.5</string>
		<!-- 鼻翼 -->
		<key>NarrowNose</key>
		<string>0.5</string>
		<!-- 下颌 -->
		<key>LowerJaw</key>
		<string>0.0</string>
		<!-- 白牙 -->
		<key>WhiteTeeth</key>
		<string>0.4</string>
		<!-- 美白 -->
        <key>BeautyWhite</key>
    	<string>0.2</string>
        <!-- 立体 -->
        <key>ShadowLight</key>
        <string>0.5</string>
        <!-- 清晰 -->
        <key>BeautyClear</key>
        <string>0.2</string>
        <!-- 去暗沉 -->
        <key>BeautyDull</key>
        <string>0.7</string>
		<!-- 人中 -->
		<key>Philtrum</key>
		<string>0.5</string>
		<!-- 眼距 -->
		<key>EyeDistance</key>
		<string>0.5</string>
		<!-- 太阳穴 -->
		<key>Temple</key>
		<string>0.0</string>
		<!-- 磨皮 -->
        <key>FaceBuffing</key>
        <string>0.0</string>
	</dict>
</array>
</plist>
