<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>AR</key>
			<string>ar</string>
			<key>BubbleSize</key>
			<string>750,200</string>
			<key>TextFontKey</key>
			<string>SystemFont</string>
		</dict>
	</array>
</plist>
