<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>template</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>ScriptPath</key>
					<string>template/script.lua</string>
					<key>UIPath</key>
					<string>template/script_ui.lua</string>
					<key>SegmentType</key>
					<string>1</string>
					<key>EnableFace</key>
					<string>0</string>
					<key>ParamTableType</key>
					<string>MVAR</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
