<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1001</integer>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>AnattaBeauty</string>
			<key>Filters</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SourceInput</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CleanShiny</string>
					<key>Type</key>
					<!-- 自动去油光：Auto 手动去油光：Manual -->
					<string>Auto</string>
					<key>AdjustHair</key>
					<string>1.0</string>
					<key>AdjustSkin</key>
					<string>1.0</string>
                    <key>AdjustShiny</key>
                    <string>1.0</string>
					<key>OptSkinShiny</key>
					<string>1</string>
					<key>PoresRefine</key>
                    <!--自动去油减少亮点程度-->
					<string>0.8</string>
                    <key>OnlyFaceRegion</key>
                    <!--自动脸部去油局限在面部，防止人脸重叠的黑线-->
                    <string>0</string>
                    <key>MultiFaceHair</key>
                    <string>1</string>
					<key>FromSource</key>
					<array>
						<string>SourceInput</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>CleanShiny</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
