<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FontParams</key>
		<dict>
			<key>PixelSizeScaleFactor</key>
			<string>1.0</string>
			<key>EnableLineTailSpace</key>
			<string>1</string>
			<key>EnableWordTokenBreak</key>
			<string>1</string>
			<key>EnableHalfLeading</key>
			<string>0</string>
			<key>EnableAutoLinespace</key>
			<string>0</string>
			<key>ForbiddenSymbolAtLineStart</key>
			<string>1</string>
			<key>TextBoundAppendWidthRatio</key>
			<string>0.25</string>
		</dict>
	</dict>
</array>
</plist>
