<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AR</key><string>ar</string>
		<key>Transition</key>
		<dict>
			<key>Speed</key>
			<integer>1</integer>
			<key>TransitionMode</key>
			<integer>2</integer>
			<key>Filter</key>
			<array>

				<dict>
					<key>Type</key>
					<string>FilterMix</string>
					<key>Duration</key>
					<real>284</real>
					<key>Path</key>
					<string>ar/configuration.mix.plist</string>
				</dict>
				<!-- <dict>
					<key>Type</key>
					<string>FilterOut</string>
					<key>Duration</key>
					<real>1125</real>
					<key>Path</key>
					<string>ar/configuration.out.plist</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>FilterIn</string>
					<key>Duration</key>
					<real>0</real>
					<key>Path</key>
					<string>ar/configuration.in.plist</string>
				</dict> -->

			</array>
		</dict>
	</dict>
</array>
</plist>
