<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Page</key>
		<dict>
			<key>Width</key>
			<integer>1000</integer>
			<key>Height</key>
			<integer>1000</integer>
			<key>EdgeFusion</key>
			<dict>
				<key>support</key>
				<true/>
			</dict>
			<key>RoundCorner</key>
			<dict>
				<key>enable</key>
				<true/>
				<key>value</key>
				<integer>0</integer>
			</dict>
			<key>ExternalBorder</key>
			<dict>
				<key>enable</key>
				<true/>
				<key>value</key>
				<integer>0</integer>
			</dict>
			<key>InnerBorder</key>
			<dict>
				<key>enable</key>
				<true/>
				<key>value</key>
				<integer>0</integer>
			</dict>
			<key>Background</key>
			<dict>
				<key>Rgba</key>
				<string>0xFFFF00FF</string>
			</dict>
			<key>Pages</key>
			<array>
				<dict>
					<key>ZOrder</key>
					<integer>0</integer>
					<key>adjustableEdge</key>
					<dict>
						<key>right</key>
						<dict>
							<key>offsetWeight</key>
							<real>1</real>
							<key>linkedSlotInfos</key>
							<array>
								<dict>
									<key>offsetWeight</key>
									<real>-1</real>
									<key>edge</key>
									<string>left</string>
									<key>index</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
					</dict>
					<key>Width</key>
					<real>0.5</real>
					<key>Height</key>
					<integer>1</integer>
					<key>InnerBorderValueW</key>
					<real>0.5</real>
					<key>InnerBorderValueH</key>
					<integer>0</integer>
					<key>Transform</key>
					<string>{&quot;ks&quot;:{&quot;r&quot;:{&quot;k&quot;:0},&quot;p&quot;:{&quot;k&quot;:[0.0,0.0,0]},&quot;s&quot;:{&quot;k&quot;:[1.0,1.0,1.0]},&quot;a&quot;:{&quot;k&quot;:[0.0, 0.0]}}}</string>
					<key>fusion</key>
					<dict>
						<key>FusionOffsetX</key>
						<integer>500</integer>
						<key>FusionOffsetY</key>
						<integer>0</integer>
						<key>Mode</key>
						<integer>1</integer>
						<key>svgPath</key>
						<string>res/page_fusion1.png</string>
					</dict>
					<key>matte</key>
					<dict>
						<key>Mode</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>ZOrder</key>
					<integer>1</integer>
					<key>adjustableEdge</key>
					<dict>
						<key>left</key>
						<dict>
							<key>offsetWeight</key>
							<real>1</real>
							<key>linkedSlotInfos</key>
							<array>
								<dict>
									<key>offsetWeight</key>
									<real>-1</real>
									<key>edge</key>
									<string>right</string>
									<key>index</key>
									<integer>0</integer>
								</dict>
							</array>
						</dict>
					</dict>
					<key>Width</key>
					<real>0.5</real>
					<key>Height</key>
					<integer>1</integer>
					<key>InnerBorderValueW</key>
					<real>0.5</real>
					<key>InnerBorderValueH</key>
					<integer>0</integer>
					<key>Transform</key>
					<string>{&quot;ks&quot;:{&quot;r&quot;:{&quot;k&quot;:0},&quot;p&quot;:{&quot;k&quot;:[1.0,0.0,0]},&quot;s&quot;:{&quot;k&quot;:[1.0,1.0,1.0]} ,&quot;a&quot;:{&quot;k&quot;:[1.0,0.0]}}}</string>
					<key>fusion</key>
					<dict>
						<key>FusionOffsetX</key>
						<integer>500</integer>
						<key>FusionOffsetY</key>
						<integer>0</integer>
						<key>Mode</key>
						<integer>1</integer>
						<key>svgPath</key>
						<string>res/page_fusion2.png</string>
					</dict>
					<key>matte</key>
					<dict>
						<key>Mode</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</array>
</plist>
