<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ID</key>
    <integer>1001</integer>
    <key>FilterPart</key>
    <array>
        <dict>
            <key>Type</key>
            <string>AnattaBeauty</string>
            <key>Filters</key>
            <array>
                <dict>
                    <key>Name</key>
                    <string>SourceInput</string>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>FacialShadowSmooth</string>
                    <key>IsOnlyRemoveShadow</key>
                    <string>1</string>
                    <key>IsNeedFaceDarkAlpha</key>
                    <string>1</string>
                    <key>FlawSmoothAlpha</key>
                    <string>0.7</string>
                    <key>RednessAlpha</key>
                    <string>0.5</string>
                    <key>FromSource</key>
                    <array>
                        <string>SourceInput</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>ShadowSmoothBright</string>
                    <key>IsNeedFaceDarkAlpha</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>FacialShadowSmooth</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>SkinSmooth</string>
                    <key>Type</key>
                    <string>Body</string>
                    <key>IsNeedFaceAndNeckMask</key>
                    <string>1</string>
                    <key>ExceptFaceSkin</key>
                    <string>1</string>
                    <key>IsBeautyThreeSharpen</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>ShadowSmoothBright</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>BrightEye</string>
                    <key>BrightEyeType</key>
                    <string>3</string>
                    <key>FromSource</key>
                    <array>
                        <string>SkinSmooth</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>ShadowLight</string>
                    <key>Type</key>
                    <string>2DSoftLight</string>
                    <key>IsNeedFaceTexture</key>
                    <string>0</string>
                    <key>IsNeedShadowLightDarkAlpha</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>BrightEye</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>ResultOutput</string>
                    <key>FromSource</key>
                    <array>
                        <string>ShadowLight</string>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
</dict>
</plist>
