<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Magnifier</key>
		<dict>
			<key>Version</key>
			<string>1.0</string>
			<key>Mode</key>
			<integer>0</integer>
			<key>Path</key>
			<string>{&quot;mag&quot;:{&quot;type&quot;:{&quot;k&quot;:1},&quot;pathSize&quot;:{&quot;k&quot;:[260.0, 260.0]},&quot;circular&quot;:{&quot;k&quot;:0.3}, &quot;pointCount&quot;:{&quot;k&quot;:0}}}</string>
			<key>CanvasScale</key>
			<real>0.6</real>
			<key>MatteSizeW</key>
			<integer>260</integer>
			<key>MatteSizeH</key>
			<integer>260</integer>
			<key>SDFdistanceMapSpread</key>
			<integer>25</integer>
			<key>Border</key>
			<dict>
				<key>Color</key>
				<string>0xFFFFFFFF</string>
				<key>BorderWidth</key>
				<real>0.6</real>
			</dict>
		</dict>
	</dict>
</array>
</plist>
