<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>template</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>ScriptPath</key>
					<string>ar3d/main.lua</string>
					<key>EnableBodySlim3DShoulderBrace</key>
					<string>1</string>
					<key>EnableBodySlim3DThinLowerAbdomens</key>
					<string>1</string>
					<key>EnableBodySlim3DAbundantButtocks</key>
					<string>1</string>
					<key>EnableBodySlim3DBreastLift</key>
					<string>1</string>
					<key>EnableBodySlim3DButtLift</key>
					<string>1</string>
					<key>EnableBodyBeautyBGFilling</key>
					<string>1</string>
					<key>ParamTableType</key>
					<string>MVAR</string>
					<key>UIPath</key>
					<string>ar3d/uitest_ui/uitest_ui.lua</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>ScriptPath</key>
					<string>ar3d2/main.lua</string>
					<key>EnableBodySlim3DAbundantBreast</key>
					<string>1</string>
					<key>EnableBodySlim3DBreastReduction</key>
					<string>1</string>
					<key>EnableBodySlim3DTrapezius</key>
					<string>1</string>
					<key>ParamTableType</key>
					<string>MVAR</string>
					<key>UIPath</key>
					<string>ar3d2/uitest_ui/uitest_ui.lua</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
