<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialFacelift</key>
			<integer>1</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>VectorDiagram</string>
					<key>GeneratePlistPath</key>
					<string>operation140462102089216.plist</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140462102089216/2108_140462102091384.png</string>
							<key>Rectangle</key>
							<string>94,119,93,22;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.80</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140462102089216/2195_140462102091384.png</string>
							<key>Rectangle</key>
							<string>31,120,214,134;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.80</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>VectorDiagram140462102089216/2199_140462102091384.png</string>
							<key>Rectangle</key>
							<string>30,69,217,59;</string>
							<key>LiftControlType</key>
							<integer>1</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.80</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553157846144</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
