<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>FacePart</key>
			<array>

<!-- 脸型开始复制	 -->			
				<dict>
					<key>Type</key>
					<string>FaceliftV2</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>Grid_0_0.png</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>Rectangle</key>
							<string>10,100,261,168;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
					</array>
					<key>Configure</key>
					<array>
						<dict>
							<key>MaskIndex</key>
							<string>0</string>
							<key>LiftControlType</key>
                            <integer>0,1,2,3</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.00</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
						</dict>
					</array>
					<key>FaceliftInfo</key>
					<array>
						<dict>
							<key>FacemeshType</key>
							<string>2108</string>
							<key>FacemeshParameters</key>
							<string>0.87,0.24,0,0,0</string>
							<key>Gender</key>
							<string>3</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>10</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>0</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2110</string>
							<key>FacemeshParameters</key>
							<string>0.91,0.55,0.17,0,0.1</string>
							<key>Gender</key>
							<string>3</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>20</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>1</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2400</string>
							<key>FacemeshParameters</key>
							<string>0.42</string>
							<key>Gender</key>
							<string>3</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>2</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2195</string>
							<key>FacemeshParameters</key>
							<string>0.89,0.44,0.42,0.38,0.43,0.21,0.16,0.1,0.03,0.05,0.07,0.05,-0.03</string>
							<key>Gender</key>
							<string>3</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>3</string>
						</dict>
						<dict>
							<key>FacemeshType</key>
							<string>2119</string>
							<key>FacemeshParameters</key>
							<string>-0.2,0,0,0,0</string>
							<key>Gender</key>
							<string>3</string>
							<key>Type</key>
							<string>0</string>
							<key>BodyParts</key>
							<string>-1</string>
							<key>GnerateType</key>
							<string>0</string>
							<key>Index</key>
							<string>4</string>
						</dict>
					</array>
				</dict>
<!-- 脸型结束复制 -->


			</array>
		</dict>
	</array>
</plist>
