<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<!-- 微笑唇 -->
				<dict>
					<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<integer>2212</integer>
					<key>FacemeshParameters</key>
					<string>0</string>
					<key>LiftControlType</key>
					<string>166</string>
					<key>ControlPosition</key>
					<string>0</string>
					<key>ID</key>
					<string>105553150671872</string>
					<key>Name</key>
					<string></string>
				</dict>
				<!-- v脸 -->
				<dict>
					<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<integer>2208</integer>
					<key>FacemeshParameters</key>
					<string>0.0,0.0,0.0,1.2,1.0</string>
					<!-- v脸 -->
					<key>LiftControlType</key>
					<!-- 整体，左，右 -->
					<string>148,149,150</string>
					<key>ControlPosition</key>
					<string>0;1;2;</string>
					<!-- 对应滑竿的系数 -->
					<key>Coefficient</key>
					<string>5.0,5.0,5.0</string>
					<!-- 输入滑杆范围 -->
					<key>ControlRange</key>
					<string>0.0,5.0;0.0,5.0;0.0,5.0;</string>
					<!-- 转化给底层数据范围 -->
					<key>ValueRange</key>
					<string>0.0,1.0;0.0,1.0;0.0,1.0;</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>FaceliftV2</string>
					<key>SwapPoint</key>
					<integer>1</integer>
					<key>EnableFaceProtect</key>
					<integer>1</integer>
					<key>MaskPath</key>
					<array>
						<!-- 窄脸Start -->	
						<dict>
							<key>Path</key>
							<string>zhailian/zhailian.png</string>
							<key>Rectangle</key>
							<string>31,76,221,157;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 小脸Start -->	
						<dict>
							<key>Path</key>
							<string>xiaolian/xiaolian.png</string>
							<key>Rectangle</key>
							<string>18,110,242,131;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 大眼Start -->	
						<dict>
							<key>Path</key>
							<string>dayan/dayan.png</string>
							<key>Rectangle</key>
							<string>85,110,111,38;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 缩鼻Start -->	
						<dict>
							<key>Path</key>
							<string>suobi/suobi.png</string>
							<key>Rectangle</key>
							<string>106,110,70,66;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 嘴形正Start -->			
						<dict>
							<key>Path</key>
							<string>zuixing/z/0_1_140542799918200.png</string>
							<key>Rectangle</key>
							<string>110,163,63,41;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 嘴形负Start -->	
						<dict>
							<key>Path</key>
							<string>zuixing/f/1_2_140542799918200.png</string>
							<key>Rectangle</key>
							<string>109,162,66,42;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 额头正Start -->
						<dict>
							<key>Path</key>
							<string>etou/z/0_1_140230576633976.png</string>
							<key>Rectangle</key>
							<string>63,45,146,65;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 额头负Start -->
						<dict>
							<key>Path</key>
							<string>etou/f/1_2_140230576633976.png</string>
							<key>Rectangle</key>
							<string>63,43,146,66;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 短脸Start -->
						<dict>
							<key>Path</key>
							<string>duanlian/duanlian.png</string>
							<key>Rectangle</key>
							<string>56,125,174,129;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 下巴正Start -->
						<dict>
							<key>Path</key>
							<string>xiaba/z/0_1_140230567336568.png</string>
							<key>Rectangle</key>
							<string>112,188,61,55;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 下巴负Start -->
						<dict>
							<key>Path</key>
							<string>xiaba/f/1_2_140230567336568.png</string>
							<key>Rectangle</key>
							<string>79,168,128,96;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 颧骨正Start -->
						<dict>
							<key>Path</key>
							<string>quangu/z/0_1_140230567336568.png</string>
							<key>Rectangle</key>
							<string>23,106,231,67;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 颧骨负Start -->
						<dict>
							<key>Path</key>
							<string>quangu/f/1_2_140230567336568.png</string>
							<key>Rectangle</key>
							<string>16,109,249,77;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 太阳穴Start -->
						<dict>
							<key>Path</key>
							<string>taiyangxue/taiyangxue.png</string>
							<key>Rectangle</key>
							<string>44,92,190,54;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 下颌 Start -->
						<dict>
							<key>Path</key>
							<string>xiahe/xiahe.png</string>
							<key>Rectangle</key>
							<string>34,140,215,85;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 眼距正 Start -->
						<dict>
							<key>Path</key>
							<string>yanju/z/0_1_140229458593192.png</string>
							<key>Rectangle</key>
							<string>86,109,110,39;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<!-- 眼距负 Start -->
						<dict>
							<key>Path</key>
							<string>yanju/f/0_1_140229451365288.png</string>
							<key>Rectangle</key>
							<string>86,109,110,39;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<!-- 长鼻正 Start -->
						<dict>
							<key>Path</key>
							<string>changbi/z/0_1_140229450876840.png</string>
							<key>Rectangle</key>
							<string>107,123,68,53;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<!-- 长鼻负 Start -->
						<dict>
							<key>Path</key>
							<string>changbi/f/0_1_140229484484520.png</string>
							<key>Rectangle</key>
							<string>107,121,68,54;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<!-- 人中正 Start -->
						<dict>
							<key>Path</key>
							<string>renzhong/z/0_1_140380972679088.png</string>
							<key>Rectangle</key>
							<string>19,148,247,109;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 人中负 Start -->
						<dict>
							<key>Path</key>
							<string>renzhong/f/0_1_140380972679088.png</string>
							<key>Rectangle</key>
							<string>19,149,246,110;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
						<!-- 鼻翼正 Start -->
						<dict>
							<key>Path</key>
							<string>biyi/z/0_1_140229450594216.png</string>
							<key>Rectangle</key>
							<string>106,137,70,39;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<!-- 鼻翼负 Start -->
						<dict>
							<key>Path</key>
							<string>biyi/f/0_1_140229483607464.png</string>
							<key>Rectangle</key>
							<string>106,137,71,39;</string>
							<key>GenerateType</key>
							<string>0</string>
						</dict>
						<!-- 山根 Start -->
                        <dict>
                            <key>Path</key>
                            <string>shangen/shangenxia.png</string>
                            <key>Rectangle</key>
                            <string>124,110,36,38;</string>
                        </dict>
                        <!-- 开眼角 Start -->
                        <dict>
                            <key>Path</key>
                            <string>kaiyanjiao/kaiyanjiao.png</string>
                            <key>Rectangle</key>
                            <string>97,111,88,31;</string>
                        </dict>

                        <!-- 鼻头 Start -->
                        <dict>
                            <key>Path</key>
                            <string>bijian/bijian.png</string>
                            <key>Rectangle</key>
                            <string>126,136,32,32;</string>
                        </dict>

                        <!-- 眼睑下至 Start -->
                        <dict>
                            <key>Path</key>
                            <string>yanjian/yanjian.png</string>
                            <key>Rectangle</key>
                            <string>87,118,108,28;</string>
                        </dict>
                        <!-- 面部折叠 Start -->
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/face_fold.png</string>
                            <key>Rectangle</key>
                            <string>9,42,262,196;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2100_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>23,76,238,178;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2106_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2108_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>85,109,111,39;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2110_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>107,112,68,64;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2114_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>20,25,241,115;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2119_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>103,164,77,47;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2195_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2199_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2200_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2202_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2400_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>25,120,233,147;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2404_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>70,95,144,32;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2405_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>0,0,280,280;</string>
                        </dict>
                        <dict>
                            <key>Path</key>
                            <string>FaceFold/2406_140518327387160.png</string>
                            <key>Rectangle</key>
                            <string>23,150,239,103;</string>
                        </dict>
					</array>
					<key>Configure</key>
					<array>
						<!-- 窄脸Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>0</integer>
							<key>LiftControlType</key>
							<integer>18</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 小脸Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>1</integer>
							<key>LiftControlType</key>
							<integer>12</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 大眼Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>2</integer>
							<key>LiftControlType</key>
							<integer>0</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 缩鼻Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>3</integer>
							<key>LiftControlType</key>
							<integer>3</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 嘴形正Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>4</integer>
							<key>LiftControlType</key>
							<integer>4</integer>
							<key>ControlRange</key>
							<string>0.5,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 嘴形负Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>5</integer>
							<key>LiftControlType</key>
							<integer>4</integer>
							<key>ControlRange</key>
							<string>0,0.5</string>
							<key>ValueRange</key>
							<string>1,0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 额头正Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>6</integer>
							<key>LiftControlType</key>
							<integer>13</integer>
							<key>ControlRange</key>
							<string>0.5,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 额头负Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>7</integer>
							<key>LiftControlType</key>
							<integer>13</integer>
							<key>ControlRange</key>
							<string>0,0.5</string>
							<key>ValueRange</key>
							<string>1,0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 短脸Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>8</integer>
							<key>LiftControlType</key>
							<integer>23</integer>
							<key>ControlRange</key>
							<string>0,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 下巴正Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>9</integer>
							<key>LiftControlType</key>
							<integer>2</integer>
							<key>ControlRange</key>
							<string>0.5,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 下巴负Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>10</integer>
							<key>LiftControlType</key>
							<integer>2</integer>
							<key>ControlRange</key>
							<string>0,0.5</string>
							<key>ValueRange</key>
							<string>1,0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 颧骨正Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>11</integer>
							<key>LiftControlType</key>
							<integer>11</integer>
							<key>ControlRange</key>
							<string>0.5,1</string>
							<key>ValueRange</key>
							<string>0,1</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 颧骨负Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>12</integer>
							<key>LiftControlType</key>
							<integer>11</integer>
							<key>ControlRange</key>
							<string>0,0.5</string>
							<key>ValueRange</key>
							<string>1,0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 太阳穴Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>13</integer>
							<key>LiftControlType</key>
							<integer>54</integer>
							<key>ControlRange</key>
							<string>0.0,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 下颌 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>14</integer>
							<key>LiftControlType</key>
							<integer>62</integer>
							<key>ControlRange</key>
							<string>0.0,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 眼距正 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>15</integer>
							<key>LiftControlType</key>
							<integer>8</integer>
							<key>ControlRange</key>
							<string>0.5,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 眼距负 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>16</integer>
							<key>LiftControlType</key>
							<integer>8</integer>
							<key>ControlRange</key>
							<string>0.0,0.50</string>
							<key>ValueRange</key>
							<string>1.0,0.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 长鼻正 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>17</integer>
							<key>LiftControlType</key>
							<integer>10</integer>
							<key>ControlRange</key>
							<string>0.5,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 长鼻负 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>18</integer>
							<key>LiftControlType</key>
							<integer>10</integer>
							<key>ControlRange</key>
							<string>0.0,0.50</string>
							<key>ValueRange</key>
							<string>1.0,0.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 人中正 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>19</integer>
							<key>LiftControlType</key>
							<integer>59</integer>
							<key>ControlRange</key>
							<string>0.5,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 人中负 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>20</integer>
							<key>LiftControlType</key>
							<integer>59</integer>
							<key>ControlRange</key>
							<string>0.0,0.50</string>
							<key>ValueRange</key>
							<string>1.0,0.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 鼻翼正 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>21</integer>
							<key>LiftControlType</key>
							<integer>22</integer>
							<key>ControlRange</key>
							<string>0.5,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 鼻翼负 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>22</integer>
							<key>LiftControlType</key>
							<integer>22</integer>
							<key>ControlRange</key>
							<string>0.0,0.50</string>
							<key>ValueRange</key>
							<string>1.0,0.0</string>
							<key>Scale</key>
							<string>0.50</string>
						</dict>
						<!-- 山根 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>23</integer>
							<key>LiftControlType</key>
							<integer>53</integer>
							<key>ControlRange</key>
							<string>0.0,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 开眼角 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>24</integer>
							<key>LiftControlType</key>
							<integer>57</integer>
							<key>ControlRange</key>
							<string>0.0,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 鼻头 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>25</integer>
							<key>LiftControlType</key>
							<integer>52</integer>
							<key>ControlRange</key>
							<string>0.0,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 眼睑下至 Start -->
						<dict>
							<key>MaskIndex</key>
							<integer>26</integer>
							<key>LiftControlType</key>
							<integer>60</integer>
							<key>ControlRange</key>
							<string>0.0,1.00</string>
							<key>ValueRange</key>
							<string>0.0,1.0</string>
							<key>Scale</key>
							<string>0.00</string>
						</dict>
						<!-- 面部折叠 Start -->
						<dict>
                            <key>MaskIndex</key>
                            <integer>27</integer>
                            <key>LiftControlType</key>
                            <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.00</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>28</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>29</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>30</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>31</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>32</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>33</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>34</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>35</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>36</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>37</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>38</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>39</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>40</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
                        </dict>
                        <dict>
                            <key>MaskIndex</key>
                            <integer>41</integer>
                            <key>LiftControlType</key>
                           <integer>36</integer>
                            <key>ControlRange</key>
                            <string>0,1</string>
                            <key>ValueRange</key>
                            <string>0,1</string>
						</dict>
					</array>
				</dict>
				<dict>
				<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<string>2412</string>
					<key>FacemeshParameters</key>
					<string>0.0</string>
					<key>LiftControlType</key>
					<string>165</string>
					<key>ControlRange</key>
					<string>-1.0,1.0</string>
					<key>ValueRange</key>
					<string>-1.0,1.0</string>
					<key>ControlPosition</key>
					<string>0</string>
					<key>DrawGrid</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
