<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<!-- 缩头效果callback -->
				<dict>
					<key>Type</key>
					<string>Callback</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
