<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <array>
        <dict>
            <!-- 特殊视频效果（转场、边框） -->
            <key>MVAR</key>
            <string>mvar</string>
        </dict>
    </array>
</plist>
