<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1001</integer>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>AnattaBeauty</string>
			<key>Filters</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SourceInput</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>DodgeBurn</string>
					<key>Switch</key>
					<string>1</string>
					<key>IsNeedMergeInside</key>
					<string>1</string>
					<key>Alpha</key>
					<string>0.8</string>
					<key>FromSource</key>
					<array>
						<string>SourceInput</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ShadowSmoothBright</string>
					<key>RemovePouchSwitch</key>
					<string>1</string>
					<key>RemovePouchAlpha</key>
					<string>0.5</string>
					<key>LaughLineSwitch</key>
					<string>1</string>
					<key>LaughLineAlpha</key>
					<string>0.7</string>
					<key>IsNeedSkinMask</key>
					<string>1</string>
					<key>FromSource</key>
					<array>
						<string>DodgeBurn</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ShadowLight</string>
					<key>Type</key>
					<string>2DSoftLight</string>
					<key>Switch</key>
					<string>1</string>
					<key>Alpha</key>
					<string>0.3</string>
					<key>MaskPath</key>
					<string>SoftLight2D/SoftLight.png</string>
					<key>FromSource</key>
					<array>
						<string>ShadowSmoothBright</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>ShadowLight</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
