<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>Name</key>
			<string>BrushTool</string>
			<key>ID</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>EnableTouch</key>
					<string>1</string>
					<key>PacketPath</key>
					<string>brushTool</string>
					<key>ScriptPath</key>
					<string>brushTool/script.lua</string>
					<key>UIPath</key>
					<string>brushTool/script_ui.lua</string>
                    <key>MessageType</key>
                    <string>BrushTool_Meassage</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
