<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MVCommonTextV2</string>
					<key>ID</key>
					<string>2373323648832</string>
					<key>Name</key>
					<string></string>
					<key>DrawLayerBorder</key>
					<integer>0</integer>
					<key>TextEnum</key>
					<integer>0</integer>
					<key>TextCommonStruct</key>
					<dict>
						<key>TextInTimestamp</key>
						<string>0.00</string>
						<key>DefaultSize</key>
						<string>750, 200</string>
						<key>RGBA</key>
						<string>0,0,0,255</string>
						<key>EnableGlobalColor</key>
						<false />
						<key>WaterMark</key>
						<dict>
							<key>SpacingX</key>
							<string>0.00</string>
							<key>SpacingY</key>
							<string>0.00</string>
							<key>Staggered</key>
							<string>0.00</string>
							<key>Rotate</key>
							<string>0.00</string>
							<key>Scale</key>
							<string>1.00</string>
							<key>Type</key>
							<integer>0</integer>
							<key>AllRotate</key>
							<string>0.00</string>
							<key>MinScale</key>
							<string>0.01</string>
							<key>MaxScale</key>
							<string>1.00</string>
						</dict>
						<key>Lines</key>
						<array>
							<dict>
								<key>RenderMode</key>
								<integer>1</integer>
								<key>TextString</key>
								<string>English subtitle displayed in different line</string>
								<key>FontLibrary</key>
								<string>PingFangSCBold</string>
								<key>PngTextAlignRatio</key>
								<string>1.00</string>
								<key>PngTextScaleRatio</key>
								<string>1.00</string>
								<key>Size</key>
								<string>40.00</string>
								<key>RefFontSize</key>
								<string>40.00</string>
								<key>ORGBA</key>
								<string>100,255,255,255,255</string>
								<key>Bold</key>
								<integer>0</integer>
								<key>Italic</key>
								<integer>0</integer>
								<key>Underline</key>
								<integer>0</integer>
								<key>StrikeThrough</key>
								<integer>0</integer>
								<key>Spacing</key>
								<integer>0</integer>
								<key>LineSpacing</key>
								<integer>0</integer>
								<key>Justify</key>
								<integer>34</integer>
								<key>Rectangle</key>
								<string>0,0,750,100</string>
								<key>Horizontal</key>
								<integer>1</integer>
								<key>LeftToRight</key>
								<integer>1</integer>
								<key>Wrap</key>
								<integer>1</integer>
								<key>Shrink</key>
								<integer>0</integer>
								<key>RepeatToBound</key>
								<integer>0</integer>
								<key>EnableGlyphCenterAdvance</key>
								<integer>0</integer>
								<key>GlyphUnifomAdvance</key>
								<integer>-1</integer>
								<key>RemoveLineBreak</key>
								<integer>0</integer>
								<key>Pinyin</key>
								<integer>0</integer>
								<key>EditingType</key>
								<integer>-1</integer>
								<key>LayerStyleConfigs</key>
								<array>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Fill</string>
										<key>LayerStyle</key>
										<integer>0</integer>
										<key>BackgroundColorConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>RenderMode</key>
											<integer>2</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,0</string>
											<key>HorizonalMarginCoef</key>
											<string>-0.2000,-0.2000</string>
											<key>VerticalMarginCoef</key>
											<string>-0.0700,-0.0700</string>
											<key>RoundWeight</key>
											<string>0.40</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Shadow</string>
										<key>LayerStyle</key>
										<integer>1</integer>
										<key>ShadowConfig</key>
										<dict>
											<key>Enable</key>
											<integer>1</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,204</string>
											<key>Offset</key>
											<string>1,1</string>
											<key>Blur</key>
											<string>6.00</string>
											<key>BoldWidth</key>
											<string>0.00</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Glow</string>
										<key>LayerStyle</key>
										<integer>2</integer>
										<key>GlowConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>Offset</key>
											<string>0,0</string>
											<key>GlowVersion</key>
											<integer>1</integer>
											<key>ORGBA</key>
											<string>100,255,0,0,140</string>
											<key>Blur</key>
											<string>2.50</string>
											<key>StrokeWidth</key>
											<string>1.75</string>
											<key>GlowInAlpha</key>
											<string>0.00</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Stroke</string>
										<key>LayerStyle</key>
										<integer>4</integer>
										<key>StrokeConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,255</string>
											<key>Size</key>
											<string>0.75</string>
											<key>Offset</key>
											<string>0,0</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Text</string>
										<key>LayerStyle</key>
										<integer>3</integer>
										<key>TextLayerConfig</key>
										<dict>
											<key>Enable</key>
											<integer>1</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>ColorCollection</key>
											<array>
												<string>255,255,255,255</string>
											</array>
											<key>Offset</key>
											<string>0,0</string>
											<key>OverlayGradient</key>
											<dict />
										</dict>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<key>MVARCommonData</key>
					<dict>
						<key>BlendMode</key>
						<integer>0</integer>
						<key>EnableDepth</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</plist>
