<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FontParams</key>
		<dict>
			<key>PixelSizeScaleFactor</key>
			<string>1.25</string>
			<key>FontItalicAngle</key>
			<string>12</string>
			<key>FontBoldDegree</key>
			<string>0.3</string>
			<!-- <key>TextBoundPaddingFactor</key>
			<string>1.0</string> -->
		</dict>
	</dict>
</array>
</plist>