<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
     <dict>
        <key>Name</key>
        <string>SkinMaskFlaw</string>  
        <!-- skin_mask_flawhd.png -->
        <!-- skin_mask_flaw.png -->
        <key>Path</key>
        <string>../../resourceConfig/skin_mask_flaw.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>LookupTable512Base</string>   
        <!-- Anatta/lookup_table_512_base.png -->
        <key>Path</key>
        <string>Anatta/lookup_table_512_base.webp</string>
    </dict>
</array>
</plist>
