<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>Name</key>
        <string>SkinMaskBody</string> 
        <!-- skin_mask_body.png -->
        <key>Path</key>
        <string>skin_mask_body.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>ShadowSmoothMask</string> 
        <!-- ShadowSmoothMask.png -->
        <key>Path</key>
        <string>../resourceConfig/ShadowSmoothMask.webp</string>
    </dict>
     <dict>
        <key>Name</key>
        <string>SkinMaskFlaw</string>  
        <!-- skin_mask_flawhd.png -->
        <!-- skin_mask_flaw.png -->
        <key>Path</key>
        <string>../resourceConfig/skin_mask_flaw.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>HighlightMask</string>   
        <!-- IlluminateShadowLight2D/HighlightMask.png -->
        <key>Path</key>
        <string>../resourceConfig/IlluminateShadowLight2D/HighlightMask.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>Shadow</string>   
        <!-- IlluminateShadowLight2D/shadow.png -->
        <key>Path</key>
        <string>../resourceConfig/IlluminateShadowLight2D/shadow.webp</string>
    </dict>
     <dict>
        <key>Name</key>
        <string>SoftLight</string>   
        <!-- SoftLight2D/SoftLight.png -->
        <key>Path</key>
        <string>../resourceConfig/SoftLight2D/SoftLight_delicate.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>Detial</string>   
        <!-- FaceTextureBlend/detial.jpg -->
        <key>Path</key>
        <string>../resourceConfig/FaceTextureBlend/detial.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>LookupTable</string>
        <key>Path</key>
        <string>../realtimeskincolor/cold.png</string>
    </dict>
</array>
</plist>
