<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ID</key>
		<integer>1001</integer>
		<key>FilterPart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>AnattaBeauty</string>
				<key>Filters</key>
				<array>
					<dict>
						<key>Name</key>
						<string>SourceInput</string>
					</dict><!-- 实时祛斑祛痘 -->
					<dict>
						<key>Name</key>
						<string>AcneClean</string>
						<key>IsOnlyPreview</key>
						<string>0</string>
						<!-- 祛斑祛痘开关 -->
						<key>Switch</key>
						<string>1</string>
						<!-- 祛斑祛痘程度值 -->
						<key>Alpha</key>
						<string>0.35</string>
						<key>FromSource</key>
						<array>
							<string>SourceInput</string>
						</array>
					</dict>
					<!-- 肤色调整 -->
					<dict>
						<key>Name</key>
						<string>FaceColor</string>
						<key>Type</key>
						<string>SingleLookup</string>
						<key>Size</key>
						<string>16</string>
						<key>WithExternalLut</key>
						<string>1</string>
						<key>BlurCoefficient</key>
						<string>1.5</string>
						<key>FromSource</key>
						<array>
							<string>AcneClean</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>CleanShiny</string>
						<key>Type</key>
						<string>RealTime</string>
						<key>AdjustHair</key>
						<string>0.0</string>
						<key>AdjustSkin</key>
						<string>1.0</string>
						<key>AdjustShiny</key>
						<string>1.0</string>
						<key>FromSource</key>
						<array>
							<string>FaceColor</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>CheekFillers</string>
						<key>IsNeedFlawSmooth</key>
						<string>1</string>
						<key>FlawSmoothAlpha</key>
						<string>0.3</string>
						<key>IsOnlyRemoveShadow</key>
						<string>1</string>
						<key>IsNeedFaceDarkAlpha</key>
						<string>1</string>
						<key>IsNeedShadowLightDarkAlpha</key>
						<string>1</string>
						<key>SkinToneCorrectionType</key>
						<string>1</string>
						<key>IsMiniFaceLimit</key>
						<string>1</string>
						<key>FromSource</key>
						<array>
							<string>CleanShiny</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>EyeSocketFill</string>
						<key>WrinkleAlpha</key>
						<string>0.8</string>
						<key>FromSource</key>
						<array>
							<string>CheekFillers</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>DodgeBurn</string>
						<key>Switch</key>
						<string>0</string>
						<key>FromSource</key>
						<array>
							<string>EyeSocketFill</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>ShadowSmoothBright</string>
						<key>IsNeedFaceDarkAlpha</key>
						<string>1</string>
						<key>FromSource</key>
						<array>
							<string>DodgeBurn</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>SkinSmooth</string>
						<key>Type</key>
						<string>Body</string>
						<key>ExceptFaceSkin</key>
						<string>0</string>
						<key>IsBeautyThreeSharpen</key>
						<string>1</string>
						<key>IsWithAcneClean</key>
						<string>1</string>
						<key>BlurCoefficient</key>
						<string>0.9375</string>
						<key>FromSource</key>
						<array>
							<string>ShadowSmoothBright</string>
						</array>
					</dict>
                    <dict>
                        <key>Name</key>
                        <string>FlawSmooth</string>
                        <key>FromSource</key>
                        <array>
                          <string>SkinSmooth</string>
                        </array>
                    </dict>

					<!-- 亮眼 -->
					<dict>
						<key>Name</key>
						<string>BrightEye</string>
						<key>Type</key>
						<string>Pupil</string>
						<key>IsNeedSkinMask</key>
						<string>1</string>
						<!-- 亮眼开关 -->
						<key>BrightEyeSwitch</key>
						<string>1</string>
						<!-- 眼白提亮程度 -->
						<key>BrightEyeAlpha</key>
						<string>0.05</string>
						<!-- 瞳孔提亮程度 -->
						<key>BrightPupilAlpha</key>
						<string>0.1</string>
						<!-- 眼白锐化 -->
						<key>ClearEyeAlpha</key>
						<string>0.05</string>
						<!-- 瞳孔锐化 -->
						<key>ClearPupilAlpha</key>
						<string>0.05</string>
						<key>FromSource</key>
						<array>
							<string>FlawSmooth</string>
						</array>
					</dict>
					<!-- 立体 -->
					<dict>
						<key>Name</key>
						<string>ShadowLight</string>
						<key>IsNeedShadowLightDarkAlpha</key>
						<string>1</string>
						<key>IsARMesh</key>
						<string>1</string>
						<key>Type</key>
						<string>2DSoftLight</string>
						<!-- 立体开关 -->
						<key>ShadowLightSwitch</key>
						<string>0</string>
						<!-- 立体程度 -->
						<key>ShadowLightAlpha</key>
						<string>0.35</string>
						<key>FromSource</key>
						<array>
							<string>BrightEye</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>NecklineRemove</string>
						<key>FromSource</key>
						<array>
							<string>ShadowLight</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>JawlineShadow</string>
						<key>FromSource</key>
						<array>
							<string>NecklineRemove</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>DoubleChin</string>
						<key>FromSource</key>
						<array>
							<string>JawlineShadow</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>ResultOutput</string>
						<key>FromSource</key>
						<array>
							<string>DoubleChin</string>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>
