<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<!-- 磨皮alpha -->
		<key>blurAlpha</key>
		<string>1.0</string>

		<!-- 匀肤alpha -->
		<key>dodgeBurnAlpha</key>
		<string>0.69</string>

		<!-- 暗沉alpha -->
		<key>shadowSmoothAlpha</key>
		<string>0.40</string>

		<!-- 立体alpha -->
		<key>shadowLightAlpha</key>
		<string>0.45</string>

		<!-- 锐化alpha -->
		<key>sharpenAlpha</key>
		<string>0.23</string>

		<!-- 祛黑眼圈alpha -->
		<key>removePouchAlpha</key>
		<string>0.30</string>

		<!-- 祛泪沟alpha -->
		<key>tearTroughAlpha</key>
		<string>0.30</string>

		<!-- 祛法令纹alpha -->
		<key>laughLineAlpha</key>
		<string>0.68</string>

		<!-- 祛法令纹(新)alpha -->
		<key>laughLineNewAlpha</key>
		<string>0.68</string>

		<!-- 毛孔alpha -->
		<key>poresRefineAlpha</key>
		<string>0.07</string>

		<!-- 亮眼alpha -->
		<key>brightEyeAlpha</key>
		<string>0.38</string>

		<!-- 美牙alpha -->
		<key>whiteTeethAlpha</key>
		<string>0.21</string>
	</dict>
</array>
</plist>
