<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<!-- 妆容/脸型配置 -->
		<key>AR</key>
		<string>ar</string>
		<!-- 美颜配置-肤质、遮瑕 -->
		<key>Beauty</key>
		<string>beauty</string>

		<!-- 默认肤质滑杆程度 -->
		<key>FaceSkinLevel</key>
		<string>0.05</string>
		<!-- 默认脸型滑杆程度 -->
		<key>FaceLiftLevel</key>
		<string>0.50</string>
		<!-- 默认妆容滑杆程度 -->
		<key>MakeupLevel</key>
		<string>0</string>
		<!-- 默认遮瑕滑杆程度 -->
		<key>ConcealerLevel</key>
		<string>1.0</string>
		<!-- 默认滤镜滑杆程度 -->
		<key>FilterAlpha</key>
		<string>0.50</string>
	</dict>
</array>
</plist>
