<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Default</string>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>MakeupScript</string>
				<key>EnableFace</key>
				<integer>1</integer>
				<key>EnableFaceDL3DReconstructor</key>
				<integer>1</integer>
				<key>ID</key>
				<string>105553152007232</string>
				<key>Name</key>
				<string></string>
				<key>PacketPath</key>
				<string>facelight</string>
				<key>ScriptPath</key>
				<string>facelight/facelight.lua</string>
				<key>ScriptVersionCode</key>
				<integer>0</integer>
				<key>ScriptLevel</key>
				<integer>0</integer>
				<key>ScriptName</key>
				<string>facelight</string>
				<key>CustomParamDict</key>
				<dict>
					<key>SupportFaceIdAlpha</key><string>1</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
