<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>

				<!-- 妆容配置 START -->
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>m_939_zc.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>392,808,220,112</string>
					<key>ORGBA</key>
					<string>32,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>TeethBlurParam</key>
					<string>1,15</string>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>875_mmz.png</string>
					<key>LocateMethod</key>
					<string>8</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>203,389,259,137</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<string>2</string>
					<key>Operation</key>
					<string>0</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>875_mmy.png</string>
					<key>LocateMethod</key>
					<string>9</string>
					<key>LockSource</key>
					<string>0</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>545,383,259,137</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<string>2</string>
					<key>Operation</key>
					<string>1</string>
				</dict>							
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>m_939_yyz.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>209,436,261,212</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>m_939_yyy.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>539,430,261,212</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>m_xjmz.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>264,550,170,84</string>
					<key>ORGBA</key>
					<string>35,78,30,28,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>14</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>m_xjmy.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>571,548,170,84</string>
					<key>ORGBA</key>
					<string>35,78,30,28,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>15</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>07_gg.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>6</integer>
					<key>Rectangle</key>
					<string>405,401,201,354</string>
					<key>ORGBA</key>
					<string>80,0,0,0,255</string>
					<key>MUType</key>
					<integer>4</integer>
					<key>Operation</key>
					<integer>1</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>07_xr1.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>327,416,371,298</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>4</integer>
					<key>Operation</key>
					<integer>1</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>07_xr2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>217,613,610,352</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>4</integer>
					<key>Operation</key>
					<integer>1</integer>
					<key>NeedAmbientLightAdjust</key>
					<integer>1</integer>
				</dict>
				<!-- 妆容配置 END -->

				<!-- 女生脸型 START -->
				<dict>
					<key>Gender</key>
					<string>F</string>
					<key>Type</key>
					<string>FaceliftV2</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>faceLift/0_1_140278337900016.png</string>
							<key>Rectangle</key>
							<string>22,74,239,192;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>Configure</key>
					<array>
						<dict>
							<key>MaskIndex</key>
							<integer>0</integer>
							<key>LiftControlType</key>
                            <integer>1</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.00</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
						</dict>
					</array>
					<key>FaceliftInfo</key>
					<array>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2108</integer>
							<key>FacemeshParameters</key>
							<string>0.29,0.12,0,-0.04,0.1</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2110</integer>
							<key>FacemeshParameters</key>
							<string>0.44,0.3,0.46,-0.07,0.14</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2119</integer>
							<key>FacemeshParameters</key>
							<string>-0.08,0,0,0,0.21</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2199</integer>
							<key>FacemeshParameters</key>
							<string>0.6,0,0,0.54,0.51,0.74,0.71,0.71,0.51,0.76,0.83,1,0,0,0,1,0.83,0.76,0.51,0.71,0.71,0.74,0.51,0.54,0,0,0,0,0.09,0.11,0.06,0.09,0.11,0.11,0.03,0.06,0.09,0,0,0,0.09,0.06,0.03,0.11,0.11,0.09,0.06,0.11,0.09,0,0</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2100</integer>
							<key>FacemeshParameters</key>
							<string>0.31,0</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2400</integer>
							<key>FacemeshParameters</key>
							<string>0.19</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2106</integer>
							<key>FacemeshParameters</key>
							<string>0.07</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<!-- 女生脸型 END -->

				<!-- 男生脸型 START -->
				<dict>
					<key>Gender</key>
					<string>M</string>
					<key>Type</key>
					<string>FaceliftV2</string>
					<key>MaskPath</key>
					<array>
						<dict>
							<key>Path</key>
							<string>faceLift/0_1_140724925592560.png</string>
							<key>Rectangle</key>
							<string>31,112,219,149;</string>
							<key>GenerateType</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>Configure</key>
					<array>
						<dict>
							<key>MaskIndex</key>
							<integer>0</integer>
							<key>LiftControlType</key>
                            <integer>1</integer>
                            <key>ControlRange</key>
                            <string>0.0,1.00</string>
                            <key>ValueRange</key>
                            <string>0.0,1.0</string>
						</dict>
					</array>
					<key>FaceliftInfo</key>
					<array>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2108</integer>
							<key>FacemeshParameters</key>
							<string>0.2,0.04,0,0,0</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2110</integer>
							<key>FacemeshParameters</key>
							<string>0.28,0,0,0,0</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2119</integer>
							<key>FacemeshParameters</key>
							<string>-0.08,0,0,0,0</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2199</integer>
							<key>FacemeshParameters</key>
							<string>0.52,0,0,0.7,0.58,0.65,0.82,0.85,0.54,0.58,0.71,0.79,0,0,0,0.79,0.71,0.58,0.54,0.85,0.82,0.65,0.58,0.7,0,0,0,0,0.13,0.13,0.1,0.08,0.1,0.1,0.05,0.04,0.04,0,0,0,0.04,0.04,0.05,0.1,0.1,0.08,0.1,0.13,0.13,0,0</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>GnerateType</key>
							<integer>0</integer>
							<key>Name</key>
							<string>新建分类1</string>
							<key>FacemeshType</key>
							<integer>2400</integer>
							<key>FacemeshParameters</key>
							<string>0.06</string>
							<key>Gender</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<!-- 男生脸型 END -->

				<!-- 滤镜配置 START -->
				<dict>
					<key>Type</key><string>Script</string>
					<key>ScriptPath</key><string>filterScript/engine.lua</string>
					<key>Parameters</key>
					<array>

						<dict>
							<key>Type</key>
							<string>SLIDER</string>
							<key>Flag</key>
							<string>4136</string>
							<key>Key</key>
							<string>SliderControl</string>
							<key>ChineseTip</key>
							<string>中文提示</string>
							<key>EnglishTip</key>
							<string>EnglishTip</string>
							<key>MinValue</key>
							<string>0.0</string>
							<key>MaxValue</key>
							<string>1.0</string>
							<key>DefaultValue</key>
							<string>1.0</string>
						</dict>

					</array>
				</dict>
				<!-- 滤镜配置 END -->

			</array>
		</dict>
	</array>
</plist>
