<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
<!-- 变笑脸相关参数 -->
		<!-- 笑脸模式 0：大笑模式；1：微笑模式 2:抿嘴笑材 3 冷酷-->
		<!-- 睁眼模式 11：睁眼 -->
		<!-- 胡子 31：消除胡须，32：一字胡，33：工字胡  -->
		<!-- 51:提肌  52:眼神矫正 53:高清修复 -->
		<key>smileMode</key>
		<string>53</string>
		<!-- 是否开启画质修复 0：不开启；1：开启-->
		<key>imageQuality</key>
		<string>0</string>
	</dict>
</array>
</plist>