<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Shader</key>
		<array>
			<dict>
				<key>vsPath</key>
				<string>slim.vs</string>
				<key>fsPath</key>
				<string>slim.fs</string>
				<key>Defines</key>
				<string>SUPPORTHEADPROTECTION;_ENABLE_X_;_ENABLE_Y_;USE_DIY_RATIOX;DIY_RATIOX(x) (0.5-cos(3.14*x)*0.5);USE_DIY_RATIOY;DIY_RATIOY(y) (y*y*y)</string>
			</dict>
		</array>
		<key>HeadProtection</key>
		<string>1</string>
		<key>SupportOffsetRender</key>
		<string>0</string>
		<key>Parameters</key>
		<array>
			<dict>
				<key>Name</key>
				<string>All</string>
				<key>Value</key>
				<string>0.0</string>
				<key>Min</key>
				<string>-1.0</string>
				<key>Max</key>
				<string>1.0</string>
				<key>Scale</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
</plist>
