<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>HeadFacelift</string>
					<key>Degree</key>
					<string>0,0.0,0.0,0,0,0</string>
					<key>Debug</key>
					<string>0</string>
					<key>DebugTriangle</key>
					<string>0</string>
					<key>Face5_9</key>
					<string>1</string>
					<key>EnableFaceProtect</key>
					<string>1</string>
					<key>Option</key>
					<string>2</string>
					<key>EntryBlock</key>
					<string>1</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>HeadFacelift</string>
					<key>FaceType</key>
					<string>1</string>
					<key>Degree</key>
					<string>0,0.0,0.0,0,0,0</string>
					<key>DegreeScale</key>
					<string>1.0,0.6,0.6,1.0,1.0,1.0</string>
					<key>Debug</key>
					<string>0</string>
					<key>DebugTriangle</key>
					<string>0</string>
					<key>Face5_9</key>
					<string>1</string>
					<key>Option</key>
					<string>1</string>
					<key>Adaptive</key>
					<string>1</string>
					<key>EnableHairlineEnum</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
