<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>蓝图</string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>PacketPath</key>
					<string>maskblend</string>
					<key>ScriptPath</key>
					<string>maskblendorg/debug.lua</string>
					<key>Type</key>
					<string>Script</string>
					<key>ID</key>
					<string>105553163428480</string>
					<key>Name</key>
					<string></string>
				</dict>			
				

			</array>
		</dict>
	</array>
</plist>
