<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<!-- 自动 增高类效果 -->
			<dict>
				<key>Type</key>
				<string>SlimHeighten</string>
				<key>State</key>
				<integer>53</integer>
				<key>EnableCallback</key>
				<integer>0</integer>
				<key>HeightenEffectInfo</key>
				<array>
					<!-- 长腿 -->
					<dict>
						<key>EffectType</key>
						<integer>0</integer>
						<key>EffectMode</key>
						<integer>2</integer>
						<key>HeightenParameters</key>
						<string>1,1.255,1,1.255,1,1,1,1</string>
						<key>ConstDegree</key>
						<string>1.0</string>
						<key>DefaultSliderDegree</key>
						<string>0.0</string>
					</dict>
					<!-- 增高 -->
					<dict>
						<key>EffectType</key>
						<integer>1</integer>
						<key>EffectMode</key>
						<integer>0</integer>
						<key>HeightenParameters</key>
						<string>1,1.255,1,1.255,1,1,1,1</string>
						<key>ConstDegree</key>
						<string>1.0</string>
						<key>DefaultSliderDegree</key>
						<string>0.0</string>
					</dict>
				</array>
				<!-- 打印点 -->
				<key>Debug</key>
				<string>0</string>
			</dict>
			<!-- 手动长腿 -->
			<dict>
				<key>Type</key>
				<string>SlimHeightenManual</string>
				<key>ModeTypeSwitch</key>
				<string>0</string>
				<key>FootDegree</key>
				<real>1</real>
				<key>lengthenBodyParameters</key>
				<string>1,1.255,1,1.255,1,1,1,1</string>
				<key>DefaultsLengthenDegree</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
