<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<!-- 身体美型 -->
			<dict>
				<key>Type</key>
				<string>SlimV3</string>
				<!-- 打印点 -->
				<key>Debug</key>
				<integer>0</integer>
				<key>OpenOffsetDraw</key>
				<string>0</string>
				<key>AreaEpsilon</key>
				<string>0.005</string>
				<!--屏蔽长腿类实现 -->
				<key>SkipHeighten</key>
				<integer>1</integer>
				<key>LogicConfig</key>
				<array>
					<dict>
						<!-- 单人模型 -->
						<key>HumanType</key>
						<string>0</string>
						<key>state</key>
						<integer>52</integer>
						<key>Delaty</key>
						<real>4500</real>
					</dict>
					<dict>
						<!-- 多人模型 -->
						<key>HumanType</key>
						<string>1</string>
						<key>state</key>
						<integer>52</integer>
						<key>Delaty</key>
						<real>4500</real>
						<key>DrawHeadMask</key>
						<string>1</string>
						<key>HeadMaskRadius</key>
						<string>0.5, 0.8</string>
					</dict>
				</array>
				<key>Part</key>
				<array>
					<dict>
						<key>PartType</key>
						<string>0</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>head.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>1</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>hand.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>2</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>chest.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>3</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>waist.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>4</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>hip.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>5</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>slimShoulder.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>6</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>ming.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>7</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>legs.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>8</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>foot.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>9</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>shoulder.plist</string>
					</dict>
					<dict>
						<key>PartType</key>
						<string>10</string>
						<key>EffectType</key>
						<string>0</string>
						<key>Path</key>
						<string>heighten.plist</string>
					</dict>
				</array>
				<key>FontManager</key>
				<dict>
					<key>FontLibrary</key>
					<dict>
						<key>Path</key>
						<string>simple-kumbh.ttf</string>
						<key>Size</key>
						<integer>64</integer>
					</dict>
					<key>SectionFormat</key>
					<dict>
						<key>TextDirection</key>
						<string>LR</string>
						<key>LineSpacing</key>
						<string>TOP_TOP</string>
						<key>LineSpacingValue</key>
						<string>1.5</string>
						<key>LineSpacingValueUnit</key>
						<string>CHAR</string>
					</dict>
					<key>FontFormat</key>
					<dict>
						<key>Size</key>
						<string>32</string>
						<key>SizeUnit</key>
						<string>PIXEL</string>
						<key>Color</key>
						<string>255.0,0.0,0.0,255.0</string>
					</dict>
					<key>FontLayout</key>
					<dict>
						<key>IsHoriCenter</key>
						<integer>0</integer>
						<key>IsVertCenter</key>
						<integer>0</integer>
						<key>MaxLineNumber</key>
						<integer>1</integer>
						<key>IsSelfLineNumber</key>
						<integer>0</integer>
						<key>IsSelfFontSize</key>
						<integer>0</integer>
						<key>HoriMargin</key>
						<string>0.0</string>
						<key>VertMargin</key>
						<string>0.0</string>
					</dict>
				</dict>
			</dict>
			<!-- 天鹅颈 -->
			<dict>
				<key>Type</key>
				<string>FV_ShoulderMLS</string>
				<key>ShapeConfigure</key>
				<array />
				<key>Radius</key>
				<string>155.00</string>
				<key>EffectRegion</key>
				<string>0.15</string>
				<key>Degree</key>
				<string>15.00</string>
				<key>IsWink</key>
				<string>1.00</string>
				<key>Mirror</key>
				<string>1.00</string>
				<key>DebugPoint</key>
				<string>0.00</string>
				<key>ModeType</key>
				<integer>1</integer>
				<key>ControlDstPoints</key>
				<string>293.602,1112.21,226.811,1142.49,117.235,1153.27,42.271,1181.44,267.992,994.646,206.382,879.085,350.212,1137.77,388.822,1213.33,183.552,1006.92,150.294,912.356,245.07,1182.06,277.328,1271.62,66.285,1063.91,64.335,961.542,146.184,1217.64,176.134,1308,64.2212,1244.8,94.171,1335.17,4.32169,1064.07,-18.63,998.707,373.393,991.93,336.783,916.365,399.003,1076.49,706.398,1112.21,773.189,1142.49,882.765,1153.27,957.729,1181.44,732.008,994.646,793.618,879.085,649.788,1137.77,611.178,1213.33,816.448,1006.92,849.706,912.356,754.93,1182.06,722.672,1271.62,933.715,1063.91,935.665,961.542,853.816,1217.64,823.866,1308,935.779,1244.8,905.829,1335.17,995.678,1064.07,1018.63,998.707,626.607,991.93,663.217,916.365,600.997,1076.49</string>
				<key>ControlSrcPoints</key>
				<string>297.602,1046.21,212.811,1092.49,116.235,1127.27,34.2715,1154.44,251.992,962.646,206.382,879.085,343.212,1129.77,388.822,1213.33,180.552,1002.92,148.294,913.356,245.07,1182.06,277.328,1271.62,86.2848,1036.91,56.3351,946.542,146.184,1217.64,176.134,1308,64.2212,1244.8,94.171,1335.17,4.32169,1064.07,-25.6281,973.707,382.393,999.927,336.783,916.365,428.003,1083.49,702.398,1046.21,787.189,1092.49,883.765,1127.27,965.729,1154.44,748.008,962.646,793.618,879.085,656.788,1129.77,611.178,1213.33,819.448,1002.92,851.706,913.356,754.93,1182.06,722.672,1271.62,913.715,1036.91,943.665,946.542,853.816,1217.64,823.866,1308,935.779,1244.8,905.829,1335.17,995.678,1064.07,1025.63,973.707,617.607,999.927,663.217,916.365,571.997,1083.49</string>
				<key>Path</key>
				<string>StandFaceMask28.png</string>
			</dict>
			<!-- 瘦脖子 -->
			<dict>
				<key>Type</key>
				<string>AdjustNeck</string>
				<key>Part</key>
				<array>
					<!--瘦脖子-->
					<dict>
						<key>ParamFlag</key>
						<string>4888</string>
						<key>Name</key>
						<string>ShrinkNeck</string>
						<key>Enable</key>
						<string>1</string>
						<key>Debug</key>
						<string>0</string>
						<key>Value</key>
						<string>0.0</string>
						<key>Min</key>
						<string>-1.0</string>
						<key>Max</key>
						<string>1.0</string>
					</dict>
					<!--脖子长度-->
					<dict>
						<key>ParamFlag</key>
						<string>4889</string>
						<key>Name</key>
						<string>NeckLength</string>
						<key>Enable</key>
						<string>1</string>
						<key>Debug</key>
						<string>0</string>
						<key>Value</key>
						<string>0.0</string>
						<key>Min</key>
						<string>-1.0</string>
						<key>Max</key>
						<string>1.0</string>
					</dict>
				</array>
				<key>ShoulderId</key>
				<dict>
					<key>ParamFlag</key>
					<string>4889</string>
					<key>Name</key>
					<string>ShoulderId</string>
					<key>Value</key>
					<string>1.0</string>
					<key>Min</key>
					<string>1.0</string>
					<key>Max</key>
					<string>5.0</string>
				</dict>
				<key>MaskVSPath</key>
				<string>shader/AdjustNeck/mask.vs</string>
				<key>MaskFSPath</key>
				<string>shader/AdjustNeck/mask.fs</string>
				<key>LiquefyVSPath</key>
				<string>shader/AdjustNeck/liquefy.vs</string>
				<key>LiquefyFSPath</key>
				<string>shader/AdjustNeck/liquefy.fs</string>
				<key>DebugLiquefyVSPath</key>
				<string>shader/AdjustNeck/debugLiquefy.vs</string>
				<key>DebugLiquefyFSPath</key>
				<string>shader/AdjustNeck/debugLiquefy.fs</string>
				<key>StretchVSPath</key>
				<string>shader/AdjustNeck/stretch.vs</string>
				<key>StretchFSPath</key>
				<string>shader/AdjustNeck/stretchBeforeOptimize.fs</string>
				<key>DebugStretchVSPath</key>
				<string>shader/AdjustNeck/debugStretch.vs</string>
				<key>DebugStretchFSPath</key>
				<string>shader/AdjustNeck/debugStretch.fs</string>
				<key>KawaseVSPath</key>
				<string>shader/AdjustNeck/kawase/simple.vs</string>
				<key>KawaseUpFSPath</key>
				<string>shader/AdjustNeck/kawase/upSampler.fs</string>
				<key>KawaseDownFSPath</key>
				<string>shader/AdjustNeck/kawase/downSampler.fs</string>
				<key>shrinkFactor</key>
				<string>0.42</string>
				<key>liquefyW</key>
				<string>0.78</string>
				<key>liquefyH</key>
				<string>0.77</string>
				<key>offsetX</key>
				<string>0.201</string>
				<key>offsetY</key>
				<string>0.101</string>
				<key>lengthFactor</key>
				<string>0.7</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>stretchSpeed</key>
				<string>0.2</string>
				<key>slimSpeed</key>
				<string>0.2</string>
			</dict>
			<!-- 手动美型 -->
			<dict>
				<key>Type</key>
				<string>SlimManual</string>
				<key>enableCallback</key>
				<integer>0</integer>
				<key>isHeadAfterLeg</key>
				<integer>1</integer>
				<key>SkipHeighten</key>
				<integer>1</integer>
				<!-- 手动<小头,丰胸,美胯,瘦身,瘦腿,长腿,瘦小腹> -->
				<key>ModeTypeSwitch</key>
				<string>0000000</string>
				<key>HeadDegree</key>
				<string>1</string>
				<key>ChestDegree</key>
				<string>1.4</string>
				<key>HipDegree</key>
				<string>1.0</string>
				<key>BodyDegree</key>
				<string>1.0</string>
				<key>LegDegree</key>
				<string>1.0</string>
				<key>FootDegree</key>
				<real>1</real>
				<key>BellyDegree</key>
				<real>1.5</real>
				<!-- <key>lengthenBodyParameters</key>
				<string>1,1.255,1,1.255,1,1,1,1</string> -->
				<key>DefaultsShrinkHeadDegree</key>
				<string>0.0</string>
				<key>DefaultsSlimChestDegree</key>
				<string>1.0</string>
				<key>DefaultsSlimHipDegree</key>
				<string>0.0</string>
				<key>DefaultsSlimDegree</key>
				<string>0.0</string>
				<key>DefaultsSlimLegDegree</key>
				<string>0.0</string>
				<key>DefaultsLengthenDegree</key>
				<string>1.0</string>
				<key>DefaultsSlimBellyDegree</key>
				<string>0.0</string>
			</dict>
			<!-- BodyShapingPart 瘦大臂小臂大腿小腿部位检测接口 -->
			<dict>
				<key>Type</key>
				<string>BodyShapingPart</string>
			</dict>
			<!-- 瘦大臂-视频效果 -->
			<dict>
				<key>ScriptPath</key>
				<string>UpperArmDeform/SlimDeform.lua</string>
				<key>UIPath</key>
				<string>UpperArmDeform/SlimDeform_ui.lua</string>
				<key>Type</key>
				<string>Script</string>
				<key>EnableTouch</key>
				<string>1</string>
				<key>EnableBodyContours</key>
				<string>1</string>
				<key>EnableSkeleton</key>
				<string>1</string>
				<key>EnableFaceHead</key>
				<string>1</string>
				<key>EnableFace</key>
				<string>1</string>
				<key>ParamTableType</key>
				<string>MVAR</string>
			</dict>
			<!-- 瘦大腿-视频效果 -->
			<dict>
				<key>ScriptPath</key>
				<string>ThighDeform/ThighDeform.lua</string>
				<key>UIPath</key>
				<string>ThighDeform/ThighDeform_ui.lua</string>
				<key>Type</key>
				<string>Script</string>
				<key>EnableTouch</key>
				<string>1</string>
				<key>EnableBodyContours</key>
				<string>1</string>
				<key>EnableSkeleton</key>
				<string>1</string>
				<key>ParamTableType</key>
				<string>MVAR</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
