<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1001</integer>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>AnattaBeauty</string>
			<key>Filters</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SourceInput</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>FleckFlawClean</string>
					<key>NeedExternSkinMaskData</key>
					<string>1</string>
					<key>FromSource</key>
					<array>
						<string>SourceInput</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>FaceColor</string>
					<key>Type</key>
					<string>SingleLookup</string>
					<key>LutPath</key>
					<string>Anatta/lookup_table_512_white.png</string>
					<key>Size</key>
					<string>64</string>
					<key>FromSource</key>
					<array>
						<string>FleckFlawClean</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>SkinSmooth</string>
					<key>Type</key>
					<string>Normal</string>
					<key>IsNeedFaceAndNeckMask</key>
					<string>1</string>
					<key>FaceEdgeDevelop</key>
					<string>0</string>
					<key>FromSource</key>
					<array>
						<string>FaceColor</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>BlurFilter02</string>
					<key>FromSource</key>
					<array>
						<string>SkinSmooth</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>Sharpen</string>
					<key>Type</key>
					<string>MySharpenSkinMask</string>
					<key>ExceptFaceSkin</key>
					<string>0</string>
					<key>FromSource</key>
					<array>
						<string>SkinSmooth</string>
						<string>FaceColor</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>FacialBeautify</string>
					<key>BrightEyeType</key>
					<string>2</string>
					<key>LaughLineSwitch</key>
					<string>1</string>
					<key>FromSource</key>
					<array>
						<string>Sharpen</string>
						<string>BlurFilter02</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>FacialBeautify</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
