<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MVARExternalLiquify</string>
					<key>LiquifyType</key>
					<string>multiConfig</string>
					<!-- <key>ConfigurationPath</key>
					<string>BeautyLiquify/configuration.plist</string> -->
				</dict>
			</array>
		</dict>
	</array>
</plist>
