<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Default</string>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<string>2198</string>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.0</string>
				<key>LiftControlType</key>
				<string>73,79</string>
				<key>ControlPosition</key>
				<string>1;2;</string>
				<key>ControlRange</key>
				<string>-1.0,1.0;-1.0,1.0;</string>
				<key>ValueRange</key>
				<string>2.0,4.0;2.0,4.0;</string>
				<key>Debug</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<string>2203</string>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.0</string>
				<key>LiftControlType</key>
				<integer>33,129,130</integer>
				<key>ControlPosition</key>
				<string>0;1;2;</string>
				<key>ControlRange</key>
				<string>-1,0,1.0; -1.0,1.0; -1.0,1.0;</string>
				<key>ValueRange</key>
				<string>-1,0,1.0; -1.0,1.0; -1.0,1.0;</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<string>2106</string>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.0</string>
				<key>LiftControlType</key>
				<integer>131,132,133</integer>
				<key>ControlPosition</key>
				<string>0;1;2;</string>
				<key>ControlRange</key>
				<string>-1,0,1.0; -1.0,1.0; -1.0,1.0;</string>
				<key>ValueRange</key>
				<string>-1,0,1.0; -1.0,1.0; -1.0,1.0;</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<string>2404</string>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0</string>
				<key>LiftControlType</key>
				<integer>134,135,136</integer>
				<key>ControlPosition</key>
				<string>5;16;17;</string>
				<key>ControlRange</key>
				<string>-1,0,1.0; -1.0,1.0; -1.0,1.0;</string>
				<key>ValueRange</key>
				<string>-1,0,1.0; -1.0,1.0; -1.0,1.0;</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>FaceliftV2</string>
				<key>MaskPath</key>
				<array>
					<!--左眉毛间距负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/jianju/L/f.png</string>
						<key>Rectangle</key>
						<string>71,98,69,29;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛间距正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/jianju/L/z.png</string>
						<key>Rectangle</key>
						<string>71,98,69,29;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛间距负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/jianju/R/f.png</string>
						<key>Rectangle</key>
						<string>147,95,66,28;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛间距正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/jianju/R/z.png</string>
						<key>Rectangle</key>
						<string>147,95,67,28;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛倾斜负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/qingxie/L/f.png</string>
						<key>Rectangle</key>
						<string>71,99,70,29;</string>
						<key>GenerateType</key>
						<integer>0</integer>	
					</dict>
					<!--左眉毛倾斜正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/qingxie/L/z.png</string>
						<key>Rectangle</key>
						<string>71,99,70,28;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛倾斜负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/qingxie/R/f.png</string>
						<key>Rectangle</key>
						<string>146,96,68,28;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>				
					<!--右眉毛倾斜正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/qingxie/R/z.png</string>
						<key>Rectangle</key>
						<string>146,96,68,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛上下负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/shangxia/L/f.png</string>
						<key>Rectangle</key>
						<string>73,99,66,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛上下正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/shangxia/L/z.png</string>
						<key>Rectangle</key>
						<string>73,99,66,26;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛上下负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/shangxia/R/f.png</string>
						<key>Rectangle</key>
						<string>148,96,64,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛上下正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/shangxia/R/z.png</string>
						<key>Rectangle</key>
						<string>148,96,63,26;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--眉峰负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/meifeng/f.png</string>
						<key>Rectangle</key>
						<string>77,93,128,31;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--眉峰正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/meifeng/z.png</string>
						<key>Rectangle</key>
						<string>75,91,132,34;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉峰负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/meifeng/L/f.png</string>
						<key>Rectangle</key>
						<string>85,100,39,23;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉峰正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/meifeng/L/z.png</string>
						<key>Rectangle</key>		
						<string>83,98,52,26;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉峰负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/meifeng/R/f.png</string>
						<key>Rectangle</key>
						<string>159,97,38,22;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉峰正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/meifeng/R/z.png</string>
						<key>Rectangle</key>
	 					<string>150,95,49,25;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--眉毛粗细负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/cuxi/f.png</string>
						<key>Rectangle</key>
						<string>80,93,125,32;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--眉毛粗细正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/cuxi/z.png</string>
						<key>Rectangle</key>
						<string>81,94,123,31;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛粗细负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/cuxi/L/f.png</string>
						<key>Rectangle</key>
						<string>71,98,69,28;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛粗细正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/cuxi/L/z.png</string>
						<key>Rectangle</key>
						<string>71,98,66,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛粗细负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/cuxi/L/f.png</string>
						<key>Rectangle</key>
						<string>148,95,66,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛粗细正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/cuxi/L/z.png</string>
						<key>Rectangle</key>
						<string>149,95,64,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛长短负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/changduan/L/f.png</string>
						<key>Rectangle</key>
						<string>83,99,40,24;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眉毛长短正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/changduan/L/z.png</string>
						<key>Rectangle</key>
						<string>81,98,42,25;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛长短负-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/changduan/R/f.png</string>
						<key>Rectangle</key>
						<string>160,97,39,23;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眉毛长短正-->
					<dict>
						<key>Path</key>
						<string>Eyebrows/changduan/R/z.png</string>
						<key>Rectangle</key>
						<string>160,97,41,24;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眼尾负-->
					<dict>
						<key>Path</key>
						<string>Eye/yanwei/L/f.png</string>
						<key>Rectangle</key>
						<string>87,113,25,29;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--左眼尾正-->
					<dict>
						<key>Path</key>
						<string>Eye/yanwei/L/z.png</string>
						<key>Rectangle</key>
						<string>84,115,25,31;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--右眼尾负-->
					<dict>
						<key>Path</key>
						<string>Eye/yanwei/R/f.png</string>
						<key>Rectangle</key>
						<string>169,111,29,29;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					<!--右眼尾正-->
					<dict>
						<key>Path</key>
						<string>Eye/yanwei/R/z.png</string>
						<key>Rectangle</key>
						<string>173,111,25,32;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--左内眼角负-->
					<dict>
						<key>Path</key>
						<string>Eye/neiyanjiao/L/f.png</string>
						<key>Rectangle</key>
						<string>115,120,24,22;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--左内眼角正-->
					<dict>
						<key>Path</key>
						<string>Eye/neiyanjiao/L/z.png</string>
						<key>Rectangle</key>
						<string>115,120,24,22;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--右内眼角负-->
					 <dict>
						<key>Path</key>
						<string>Eye/neiyanjiao/R/f.png</string>
						<key>Rectangle</key>
						<string>143,119,24,22;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--右内眼角正-->
					<dict>
						<key>Path</key>
						<string>Eye/neiyanjiao/R/z.png</string>
						<key>Rectangle</key>
						<string>143,119,23,22;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--左外眼角负-->
					  <dict>
						<key>Path</key>
						<string>Eye/waiyanjiao/L/f.png</string>
						<key>Rectangle</key>
						<string>86,114,26,26;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--左外眼角正-->
					  <dict>
						<key>Path</key>
						<string>Eye/waiyanjiao/L/z.png</string>
						<key>Rectangle</key>
						<string>85,113,28,28;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--右外眼角负-->
					  <dict>
						<key>Path</key>
						<string>Eye/waiyanjiao/R/f.png</string>
						<key>Rectangle</key>
						<string>170,112,26,25;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
					 <!--右外眼角正-->
					  <dict>
						<key>Path</key>
						<string>Eye/waiyanjiao/R/z.png</string>
						<key>Rectangle</key>
						<string>169,110,28,27;</string>
						<key>GenerateType</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>Configure</key>
				<array>
					<!--左内眼角负-->
					<dict>
						<key>MaskIndex</key>
						<integer>32</integer>
						<!--Facelift_INNER_EYE_CORNER-->
						<key>LiftControlType</key>
						<integer>120</integer>
						<key>ControlRange</key>
						<string>-1,0</string>
						<key>ValueRange</key>
						<string>1.5,0</string>
						<key>Scale</key>
						<string>0.5</string>
					</dict>
					<!--左内眼角正-->
					<dict>
						<key>MaskIndex</key>
						<integer>33</integer>
						<!--Facelift_INNER_EYE_CORNER-->
						<key>LiftControlType</key>
						<integer>120</integer>
						<key>ControlRange</key>
						<string>0,1</string>
						<key>ValueRange</key>
						<string>0,1.5</string>
						<key>Scale</key>
						<string>0.5</string>
					</dict>
					<!--右内眼角负-->
					<dict>
						<key>MaskIndex</key>
						<integer>34</integer>
						<!--Facelift_INNER_EYE_CORNER-->
						<key>LiftControlType</key>
						<integer>121</integer>
						<key>ControlRange</key>
						<string>-1,0</string>
						<key>ValueRange</key>
						<string>1.5,0</string>
						<key>Scale</key>
						<string>0.5</string>
					</dict>
					<!--右内眼角正-->
					<dict>
						<key>MaskIndex</key>
						<integer>35</integer>
						<!--Facelift_INNER_EYE_CORNER-->
						<key>LiftControlType</key>
						<integer>121</integer>
						<key>ControlRange</key>
						<string>0,1</string>
						<key>ValueRange</key>
						<string>0,1.5</string>
						<key>Scale</key>
						<string>0.5</string>
					</dict>
				</array>
			</dict>
			<dict>
				<!-- 头包脸 -->
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<string>2412</string>
				<key>FacemeshParameters</key>
				<string>0.0</string>
				<key>DrawGrid</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>165</integer>
				<!-- 控制FaceMeshParameters具体位置 -->
				<key>ControlPosition</key>
				<string>0</string>
				<!-- 输入滑杆范围 -->
				<key>ControlRange</key>
				<string>-1.0,1.0;</string>
				<!-- 转化给底层数据范围 -->
				<key>ValueRange</key>
				<string>-1.0,1.0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
