<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Sticker</string>
					<key>Animation</key>
					<string>mcpResource-7.plist</string>
					<key>Alpha</key>
					<string>1.00</string>
					<key>BlendMode</key>
					<string>BlendNormal</string>
					<key>StickerType</key>
					<integer>2</integer>
					<key>ScreenStandardImageSize</key>
					<string>1080,1920</string>
					<key>ScreenPositionOffset</key>
					<string>0,0</string>
					<key>ScreenRotateAngle</key>
					<string>0.000000</string>
					<key>ScreenScaleFactor</key>
					<string>1,1</string>
					<key>ScreenPivot</key>
					<integer>1</integer>
					<key>ScreenStretchMode</key>
					<integer>2</integer>
					<key>ScreenFollow</key>
					<integer>1</integer>
					<key>ScreenVerticalMirror</key>
					<integer>0</integer>
					<key>ScreenHorizontalMirror</key>
					<integer>0</integer>
					<key>ID</key>
					<string>105553147828544</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
