<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>template</string>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Script</string>
				<key>ScriptPath</key>
				<string>segment/segment.lua</string>
				<key>UIPath</key>
				<string>segment/segment_ui.lua</string>
				<key>EnableBodyBeautyBGFilling</key>
				<string>1</string>
				<key>EnableSkeleton</key>
				<string>1</string>
				<key>EnableBodyContours</key>
				<string>1</string>
				<key>MessageType</key>
				<string>BGFill</string>
			</dict>
			<dict>
				<key>ScriptPath</key>
				<string>UpperArmDeform/SlimDeform.lua</string>
				<key>UIPath</key>
				<string>UpperArmDeform/SlimDeform_ui.lua</string>
				<key>Type</key>
				<string>Script</string>
				<key>EnableTouch</key>
				<string>1</string>
				<key>EnableBodyContours</key>
				<string>1</string>
				<key>EnableSkeleton</key>
				<string>1</string>
				<key>EnableFaceHead</key>
				<string>1</string>
				<key>EnableFace</key>
				<string>1</string>
				<key>EnableBodyBeautyBGFilling</key>
				<string>1</string>
				<key>MessageType</key>
				<string>BGFill</string>
			</dict>
			<dict>
				<key>ScriptPath</key>
				<string>ThighDeform/ThighDeform.lua</string>
				<key>UIPath</key>
				<string>ThighDeform/ThighDeform_ui.lua</string>
				<key>Type</key>
				<string>Script</string>
				<key>EnableTouch</key>
				<string>1</string>
				<key>EnableBodyContours</key>
				<string>1</string>
				<key>EnableSkeleton</key>
				<string>1</string>
			</dict>
			<dict>
				<key>ScriptPath</key>
				<string>CalfDeform/CalfDeform.lua</string>
				<key>UIPath</key>
				<string>CalfDeform/CalfDeform_ui.lua</string>
				<key>Type</key>
				<string>Script</string>
				<key>EnableTouch</key>
				<string>1</string>
				<key>EnableBodyContours</key>
				<string>1</string>
				<key>EnableSkeleton</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Script</string>
				<key>ScriptPath</key>
				<string>ar3d/main.lua</string>
				<key>EnableBodySlim3DShoulderBrace</key>
				<string>1</string>
				<key>EnableBodySlim3DThinLowerAbdomens</key>
				<string>1</string>
				<key>EnableBodySlim3DAbundantButtocks</key>
				<string>1</string>
				<key>EnableBodyBeautyBGFilling</key>
				<string>1</string>
				<key>UIPath</key>
				<string>ar3d/uitest_ui/uitest_ui.lua</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Script</string>
				<key>ScriptPath</key>
				<string>ar3d2/main.lua</string>
				<key>EnableBodySlim3DShoulderBrace</key>
				<string>1</string>
				<key>EnableBodySlim3DThinLowerAbdomens</key>
				<string>1</string>
				<key>EnableBodySlim3DAbundantButtocks</key>
				<string>1</string>
				<key>EnableBodySlim3DTrapezius</key>
				<string>1</string>
				<key>UIPath</key>
				<string>ar3d2/uitest_ui/uitest_ui.lua</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Script</string>
				<key>ScriptPath</key>
				<string>fill/fill.lua</string>
				<key>UIPath</key>
				<string>fill/fill_ui.lua</string>
				<key>EnableBodyBeautyBGFilling</key>
				<string>1</string>
				<key>MessageType</key>
				<string>BGFill</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
