<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MVCommonSticker</string>
					<key>StickerEnum</key>
					<integer>1</integer>
					<key>StickerImportStruct</key>
					<dict>
						<key>DefaultSize</key>
						<string>0, 0</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</plist>
