<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>AR</key>
        <string>ar</string>
        <key>Filter</key>
        <string>filter</string>
        <!-- 效果总时长 大于等于0.0的数值 -->
        <key>VideoTime</key>
        <string>10.0</string>
         <!-- 是否需要多人脸数据 0:不需要 1：需要 默认为0（例如bling效果，需要多人脸数据来做人脸保护）-->
        <key>NeedMultiFace</key>
        <string>1</string>
    </dict>
</array>
</plist>