<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>DrawLayerBorder</key>
				<integer>0</integer>
				<key>TextCommonStruct</key>
				<dict>
					<key>BGAnimation</key>
					<string></string>
					<key>DefaultSize</key>
					<string>750,220</string>
					<key>FGVAnimation</key>
					<string></string>
					<key>Lines</key>
					<array>
						<dict>
							<key>Bold</key>
							<integer>0</integer>
							<key>EnableGlyphCenterAdvance</key>
							<integer>0</integer>
							<key>FontLibrary</key>
							<string>SystemFont</string>
							<key>GlyphUnifomAdvance</key>
							<integer>-1</integer>
							<key>Horizontal</key>
							<integer>1</integer>
							<key>Italic</key>
							<integer>0</integer>
							<key>Justify</key>
							<integer>34</integer>
							<key>LayerStyleConfigs</key>
							<array>
								<dict>
									<key>BackgroundColorConfig</key>
									<dict>
										<key>Editable</key>
										<integer>1</integer>
										<key>Enable</key>
										<integer>0</integer>
										<key>HorizonalMarginCoef</key>
										<string>-0.2, -0.2</string>
										<key>ORGBA</key>
										<string>100,0,0,0,255</string>
										<key>RenderMode</key>
										<string>2</string>
										<key>RoundWeight</key>
										<string>0.4</string>
										<key>VerticalMarginCoef</key>
										<string>-0.065,-0.065</string>
									</dict>
									<key>LayerStyle</key>
									<integer>0</integer>
									<key>LayerTag</key>
									<string>LayerStyle_Fill</string>
								</dict>
								<dict>
									<key>LayerStyle</key>
									<integer>1</integer>
									<key>LayerTag</key>
									<string>LayerStyle_Shadow</string>
									<key>ShadowConfig</key>
									<dict>
										<key>Blur</key>
										<string>2.4</string>
										<key>Editable</key>
										<integer>1</integer>
										<key>Enable</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>100,0,0,0,153</string>
										<key>Offset</key>
										<string>0.848,0.848</string>
									</dict>
								</dict>
								<dict>
									<key>GlowConfig</key>
									<dict>
										<key>Blur</key>
										<string>2.5</string>
										<key>Editable</key>
										<integer>1</integer>
										<key>Enable</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>100,255,255,0,140</string>
										<key>StrokeWidth</key>
										<string>2.5</string>
									</dict>
									<key>LayerStyle</key>
									<integer>2</integer>
									<key>LayerTag</key>
									<string>LayerStyle_Glow</string>
								</dict>
								<dict>
									<key>LayerStyle</key>
									<integer>4</integer>
									<key>LayerTag</key>
									<string>LayerStyle_Stroke</string>
									<key>StrokeConfig</key>
									<dict>
										<key>Editable</key>
										<integer>1</integer>
										<key>Enable</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>100,0,0,0,255</string>
										<key>Size</key>
										<string>0.75</string>
									</dict>
								</dict>
								<dict>
									<key>LayerStyle</key>
									<integer>3</integer>
									<key>LayerTag</key>
									<string>LayerStyle_Text</string>
									<key>TextLayerConfig</key>
									<dict>
										<key>ColorCollection</key>
										<array>
											<string>255,255,255,255</string>
										</array>
										<key>Editable</key>
										<integer>1</integer>
										<key>Enable</key>
										<integer>1</integer>
										<key>Offset</key>
										<string>0,0</string>
									</dict>
								</dict>
							</array>
							<key>LeftToRight</key>
							<integer>1</integer>
							<key>LineSpacing</key>
							<integer>0</integer>
							<key>ORGBA</key>
							<string>100,255,255,255,255</string>
							<key>Pinyin</key>
							<integer>0</integer>
							<key>Rectangle</key>
							<string>25,20,700,180</string>
							<key>RenderMode</key>
							<integer>1</integer>
							<key>Shrink</key>
							<integer>1</integer>
							<key>Size</key>
							<string>80.00</string>
							<key>Spacing</key>
							<integer>0</integer>
							<key>StrikeThrough</key>
							<integer>0</integer>
							<key>TextEditableProperties</key>
							<dict>
								<key>Editable</key>
								<integer>1</integer>
								<key>HorizontalEditable</key>
								<integer>1</integer>
								<key>LineSpacingEditable</key>
								<integer>1</integer>
								<key>PinyinEditable</key>
								<integer>1</integer>
								<key>SpacingEditable</key>
								<integer>1</integer>
								<key>VerticalEditable</key>
								<integer>1</integer>
							</dict>
							<key>TextString</key>
							<string>点击输入文字</string>
							<key>Underline</key>
							<integer>0</integer>
							<key>Wrap</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<key>TextEnum</key>
				<integer>0</integer>
				<key>Type</key>
				<string>MVCommonTextV2</string>
			</dict>
		</array>
		<key>Name</key>
		<string></string>
	</dict>
</array>
</plist>
