<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ID</key>
    <integer>1001</integer>
    <key>FilterPart</key>
    <array>
        <dict>
            <key>Type</key>
            <string>AnattaBeauty</string>
            <key>Filters</key>
            <array>
                <dict>
                    <key>Name</key>
                    <string>SourceInput</string>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>FleckFlawClean</string>
                    <key>NeedExternSkinMaskData</key>
                    <string>1</string>
                    <key>IsNeedGlassProtect</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>SourceInput</string>
                    </array>
                </dict>
                <dict>
                	<key>Name</key>
                    <!-- 实时祛斑祛痘 -->
                    <string>AcneClean</string>
                	<key>IsOnlyPreview</key>
                	<string>0</string>
                	<key>Switch</key>
                	<string>1</string>
                	<!-- 程度 -->
                	<key>Alpha</key>
                	<string>0.6</string>
                	<key>FromSource</key>
                	<array>
                	    <string>FleckFlawClean</string>
                	</array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>FaceColor</string>
                    <key>Type</key>
                    <string>SingleLookup</string>
                    <key>Size</key>
                    <string>16</string>
                    <key>WithExternalLut</key>
                    <string>1</string>
                    <key>BlurCoefficient</key>
                    <string>1.5</string>
                    <key>FromSource</key>
                    <array>
                        <string>AcneClean</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>ShadowSmoothAndroid</string>
                    <key>IsMiniFaceLimit</key>
                    <string>0</string>
                    <key>IsOnlyRemoveShadow</key>
                    <string>1</string>
                    <key>MedianBlurOffset</key>
                    <string>1.0</string>
                    <key>IsUseRealtimeMask</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>FaceColor</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>SkinSmooth</string>
                    <key>Type</key>
                    <string>Body</string>
                    <!-- 清晰滑杆0对应程度 -->
                    <key>SharpenMinAlpha</key>
                    <string>0.3</string>
                    <!-- 清晰滑杆100对应程度 -->
                    <key>SharpenMaxAlpha</key>
                    <string>1.2</string>
                    <key>IsNeedFaceAndNeckMask</key>
                    <string>1</string>
                    <key>FaceEdgeDevelop</key>
                    <string>0</string>
                    <key>ExceptFaceSkin</key>
                    <string>0</string>
                    <key>FromSource</key>
                    <array>
                        <string>ShadowSmoothAndroid</string>
                    </array>
                </dict>
                <dict>
                        <key>Name</key>
                        <string>FlawSmooth</string>
                        <key>FromSource</key>
                        <array>
                          <string>SkinSmooth</string>
                        </array>
                </dict>

                <dict>
                    <key>Name</key>
                    <string>BrightEye</string>
                    <key>Type</key>
                    <string>Pupil</string>
                    <key>FromSource</key>
                    <array>
                        <string>Sharpen</string>
                    </array>
                    <key>BrightEyeSwitch</key>
                    <string>1</string>
                    <!-- 眼白提亮程度 -->
                    <key>BrightEyeAlpha</key>
                    <string>0.1</string>
                    <!-- 瞳孔提亮程度 -->
                    <key>BrightPupilAlpha</key>
                    <string>0.4</string>
                    <!-- 眼白清晰程度 默认3.0 -->
                    <key>ClearEyeAlpha</key>
                    <string>0.1</string>
                    <!-- 眼瞳清晰程度 -->
                    <key>ClearPupilAlpha</key>
                    <string>0.4</string>
                    <!-- 拍后用眼睛分割结果替代眼睛睁开判断 -->
                    <key>UseEyeSegAfterTake</key>
                    <string>0</string>
                    <key>FromSource</key>
                    <array>
                        <string>FlawSmooth</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>ShadowLight</string>
                    <key>Type</key>
                    <string>2DSoftLight</string>
                    <key>Switch</key>
                    <string>1</string>
                    <key>IsARMesh</key>
                    <string>1</string>
                    <key>IsNeedShadowLightDarkAlpha</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>BrightEye</string>
                    </array>
                </dict>
                <dict>
					<key>Name</key>
					<string>NecklineRemove</string>
					<key>FromSource</key>
					<array>
						<string>ShadowLight</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>JawlineShadow</string>
					<key>FromSource</key>
					<array>
						<string>NecklineRemove</string>
					</array>
				</dict>
                <dict>
                    <key>Name</key>
                    <string>DoubleChin</string>
                    <key>FromSource</key>
                    <array>
                        <string>JawlineShadow</string>
                    </array>
                </dict>
				<dict>
					<key>Name</key>
					<string>ResultOutput</string>
					<key>FromSource</key>
					<array>
						<string>DoubleChin</string>
					</array>
				</dict>
            </array>
        </dict>
    </array>
</dict>
</plist>
