<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
     <dict>
        <key>Name</key>
        <string>SoftLight</string>   
        <!-- SoftLight2D/SoftLight.png -->
        <key>Path</key>
        <string>SoftLight2D/SoftLight.webp</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>LookupTable</string>
        <key>Path</key>
        <string>../../realtimeskincolor/nature.png</string>
    </dict>
</array>
</plist>
