<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>MaskType</key>
			<string>1</string>
			<key>DefaultSize</key>
			<string>512,512</string>
			<key>AnimationPath</key>
			<string>round.plist</string>	
			<key>Reverse</key>
			<string>0</string>
		</dict>
	</array>
</plist>
