<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<integer>2120</integer>
					<key>FacemeshParameters</key>
					<string>1,1</string>
					<key>LiftControlType</key>
					<string>20,21</string>
					<key>ControlPosition</key>
					<string>0;1;</string>
					<key>ControlRange</key>
					<string>-1.0,0.0;-1.0,0.0</string>
					<key>ValueRange</key>
					<string>-1.6,0.0;-1.6,0.0</string>
					<key>ID</key>
					<string>105553150671872</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<integer>2120</integer>
					<key>FacemeshParameters</key>
					<string>1,1</string>
					<key>LiftControlType</key>
					<string>20,21</string>
					<key>ControlPosition</key>
					<string>0;1;</string>
					<key>ControlRange</key>
					<string>0.0,1.0;0.0,1.0</string>
					<key>ValueRange</key>
					<string>0.0,1.0;0.0,1.0</string>
					<key>ID</key>
					<string>105553150671872</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
