<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <!-- 妆容&美型渐变 -->
            <key>GradualChange</key>
            <dict>
                <!-- 美型渐变(毫秒) -->
                <key>FaceLift</key>
                <integer>4000</integer>
                <!-- 切换配置渐变 -->
                <key>EnableFace</key>
                <integer>1</integer>
                <key>EnableFaceLimter</key>
                <integer>1</integer>
            </dict>
        </dict>
    </array>
</plist>