<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <!--男性-皮肤-黑-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>Male</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>Black</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.27</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.26</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.72</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.84</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.28</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.28</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.16</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.26</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.54</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.7</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>

        </dict>
        <!--男性-皮肤-白-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>Male</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>White</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.18</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.54</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.51</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.18</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.17</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.18</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.405</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>

        </dict>
        <!--男性-皮肤-棕-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>Male</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>Brown</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.24</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.22</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.6</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.78</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.26</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.26</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.16</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.24</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.45</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.8</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>

        </dict>
        <!--男性-皮肤-All-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>Male</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>All</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.18</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.54</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.51</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.18</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.17</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.18</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.405</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>

        </dict>
        <!--性别All-皮肤-黑-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>All</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>Black</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.35</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.3</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.4</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.4</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.4</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.8</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.3</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.7</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>
        </dict>
        <!--性别All-皮肤-白-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>All</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>White</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.85</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.85</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>
        </dict>
        <!--性别All-皮肤-棕-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>All</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>Brown</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.3</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.3</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.3</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.8</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.8</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>
        </dict>
        <!--性别All-皮肤-All(其他)-->
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>All</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>SkinType</key>
            <string>All</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.85</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.85</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ExtEyeLightCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.0</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>MoleCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.9</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>Ext3DHighLightCoefficient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>1.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>
        </dict>
    </array>
</plist>
