<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Child</key>
            <string>All</string>
            <key>Gender</key>
            <string>Male</string>
            <key>SpecialMakeup</key>
            <string>All</string>
            <key>Coeffient</key>
            <dict>
                <key>AegyoSalCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>BlusherCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>ContourCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.6</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeBrowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.6</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLashCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLidCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeLinerCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyePupilCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>EyeShadowCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.2</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
                <key>LipstickCoeffient</key>
                <dict>
                    <key>Coeffient</key>
                    <string>0.45</string>
                    <key>Delta</key>
                    <string>0.0</string>
                </dict>
            </dict>
        </dict>
    </array>
</plist>
