<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>TextCommonStruct</key>
				<dict>
					<key>Lines</key>
					<array>
						<dict>
							<key>Horizontal</key>
							<string>1</string>
							<key>ORGBA</key>
							<string>100,51,51,51,255</string>
							<key>Justify</key>
							<string>34</string>
							<key>Bold</key>
							<string>0</string>
							<key>Rectangle</key>
							<string>0,0,1050,200</string>
							<key>TextString</key>
							<string>点击输入文字</string>
							<key>Size</key>
							<string>100</string>
							<key>FontLibrary</key>
							<string>AlibabaPuHuiTi-Regular</string>
							<key>RenderMode</key>
							<string>3</string>
							<key>MultiStrokes</key>
							<string>1</string>
							<key>LayerStyleConfigs</key>
							<array>
								<dict>
									<key>LayerTag</key>
									<string>CharSVGBG</string>
									<key>LayerStyle</key>
									<integer>11</integer>
									<key>CharSVGBackgroundConfig</key>
									<dict>
										<key>Enable</key>
										<integer>1</integer>
										<key>Editable</key>
										<integer>1</integer>
										<key>Offset</key>
										<string>0,0</string>
										<key>Size</key>
										<string>1.21</string>
										<key>EnableGlyphTransfrom</key>
										<integer>0</integer>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Fill</string>
									<key>LayerStyle</key>
									<integer>0</integer>
									<key>BackgroundColorConfig</key>
									<dict>
										<key>Enable</key>
										<integer>0</integer>
										<key>Editable</key>
										<integer>1</integer>
										<key>RenderMode</key>
										<integer>2</integer>
										<key>ORGBA</key>
										<string>100,0,0,0,255</string>
										<key>HorizonalMarginCoef</key>
										<string>-0.2000,-0.2000</string>
										<key>VerticalMarginCoef</key>
										<string>-0.0700,-0.0700</string>
										<key>RoundWeight</key>
										<string>0.40</string>
										<key>Margin</key>
										<integer>0</integer>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Shadow</string>
									<key>LayerStyle</key>
									<integer>1</integer>
									<key>ShadowConfig</key>
									<dict>
										<key>Enable</key>
										<integer>0</integer>
										<key>Editable</key>
										<integer>1</integer>
										<key>Offset</key>
										<string>1.00,-1.00</string>
										<key>Scale</key>
										<string>1.00,1.00</string>
										<key>UseTextureOverlayAlpha</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>100,0,0,0,153</string>
										<key>Blur</key>
										<string>2.44</string>
										<key>BoldWidth</key>
										<string>0.00</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Glow</string>
									<key>LayerStyle</key>
									<integer>2</integer>
									<key>GlowConfig</key>
									<dict>
										<key>Enable</key>
										<integer>0</integer>
										<key>Editable</key>
										<integer>1</integer>
										<key>Offset</key>
										<string>0.00,0.00</string>
										<key>Scale</key>
										<string>1.00,1.00</string>
										<key>UseTextureOverlayAlpha</key>
										<integer>0</integer>
										<key>GlowVersion</key>
										<integer>1</integer>
										<key>ORGBA</key>
										<string>100,255,0,0,140</string>
										<key>Blur</key>
										<string>2.50</string>
										<key>StrokeWidth</key>
										<string>1.75</string>
										<key>GlowInAlpha</key>
										<string>0.00</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Stroke</string>
									<key>LayerStyle</key>
									<integer>4</integer>
									<key>StrokeConfig</key>
									<dict>
										<key>Enable</key>
										<integer>0</integer>
										<key>Editable</key>
										<integer>0</integer>
										<key>Offset</key>
										<string>0.00,0.00</string>
										<key>Scale</key>
										<string>1.00,1.00</string>
										<key>UseTextureOverlayAlpha</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>0,0,0,0,0</string>
										<key>Size</key>
										<string>0</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Stroke</string>
									<key>LayerStyle</key>
									<integer>4</integer>
									<key>StrokeConfig</key>
									<dict>
										<key>Enable</key>
										<integer>0</integer>
										<key>Editable</key>
										<integer>0</integer>
										<key>Offset</key>
										<string>0.00,0.00</string>
										<key>Scale</key>
										<string>1.00,1.00</string>
										<key>UseTextureOverlayAlpha</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>0,0,0,0,0</string>
										<key>Size</key>
										<string>0</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Stroke</string>
									<key>LayerStyle</key>
									<integer>4</integer>
									<key>StrokeConfig</key>
									<dict>
										<key>Enable</key>
										<integer>0</integer>
										<key>Editable</key>
										<integer>0</integer>
										<key>Offset</key>
										<string>0.00,0.00</string>
										<key>Scale</key>
										<string>1.00,1.00</string>
										<key>UseTextureOverlayAlpha</key>
										<integer>0</integer>
										<key>ORGBA</key>
										<string>0,0,0,0,0</string>
										<key>Size</key>
										<string>0</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>LayerStyle_Text</string>
									<key>LayerStyle</key>
									<integer>3</integer>
									<key>TextLayerConfig</key>
									<dict>
										<key>Enable</key>
										<integer>1</integer>
										<key>Editable</key>
										<integer>1</integer>
										<key>Offset</key>
										<string>0.00,0.00</string>
										<key>Scale</key>
										<string>1.00,1.00</string>
										<key>UseTextureOverlayAlpha</key>
										<integer>0</integer>
										<key>ColorCollection</key>
										<array>
											<string>255,255,255,255</string>
										</array>
										<key>OverlayGradient</key>
										<dict>
											<key>Angle</key>
											<string>0.00</string>
										</dict>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
					<key>DefaultSize</key>
					<string>1050,200</string>
				</dict>
				<key>Type</key>
				<string>MVCommonTextV2</string>
				<key>TextEnum</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
