<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>degree</key>
			<string>0.80</string>
			<key>Eye</key>
			<array>
				<dict>
					<key>EyeSize</key>
					<string>0.00</string>
					<key>EyeHeight</key>
					<string>0.00</string>
					<key>EyeWidth</key>
					<string>0.00</string>
					<key>EyeDistance</key>
					<string>0.00</string>
					<key>EyeGradient</key>
					<string>0.10</string>
					<key>EyeEndLift</key>
					<string>0.00</string>
					<key>Eyelid</key>
					<string>0.00</string>
					<key>EyeUpDownLocation</key>
					<string>0.00</string>
					<key>InnerEyeCorner</key>
					<string>0.00</string>
				</dict>
			</array>
			<key>Eyebrow</key>
			<array>
				<dict>
					<key>EyebrowDistance</key>
					<string>0.00</string>
					<key>EyebrowHeight</key>
					<string>0.00</string>
					<key>EyebrowGradient</key>
					<string>0.00</string>
					<key>EyebrowWidth</key>
					<string>0.00</string>
					<key>EyebrowRidge</key>
					<string>0.00</string>
				</dict>
			</array>
			<key>Nose</key>
			<array>
				<dict>
					<key>NoseSize</key>
					<string>0.00</string>
					<key>NoseSides</key>
					<string>0.00</string>
					<key>NoseBridge</key>
					<string>0.00</string>
					<key>NoseHeight</key>
					<string>0.00</string>
					<key>Noseguard</key>
					<string>0.00</string>
					<key>NasalRoot</key>
					<string>0.00</string>
				</dict>
			</array>
			<key>Mouth</key>
			<array>
				<dict>
					<key>MouthSize</key>
					<string>0.00</string>
					<key>UpperLipThickness</key>
					<string>0.00</string>
					<key>UnderlipThickness</key>
					<string>0.00</string>
					<key>MouthWidth</key>
					<string>0.00</string>
					<key>High_Low</key>
					<string>0.00</string>
					<key>MouthShapeM</key>
					<string>0.00</string>
				</dict>
			</array>
			<key>Face</key>
			<array>
				<dict>
					<key>ThinFaceDegree</key>
					<string>-0.00</string>
					<key>FaceLength</key>
					<string>0.00</string>
					<key>ChinLength</key>
					<string>0.00</string>
					<key>ForeheadSize</key>
					<string>0.00</string>
					<key>PhiltrumWarp</key>
					<string>0.00</string>
					<key>FaceOptionSize</key>
					<string>13.00</string>
					<key>FaceOption6</key>
					<array>
						<dict>
							<key>OverallDegree</key>
							<string>0.60</string>
							<key>Radius</key>
							<string>0.23,0.3,0.3,0.25,0.23,0.3</string>
							<key>Degree</key>
							<string>0.06,0.06,0.06,0.06,0.06,0.03</string>
						</dict>
					</array>
					<key>FaceOption13</key>
					<array>
						<dict>
							<key>OverallDegree</key>
							<string>0.50</string>
							<key>Radius</key>
							<string>0.5,0.91,0.77,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5</string>
							<key>Degree</key>
							<string>0,-0.17,0,0,0,0,0,0,0,0,0,0,0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</plist>
