<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<!-- 配置名称 -->
		<key>Name</key>
		<string>Stroke</string>
		<!-- 配置ID -->
		<key>ID</key>
		<real>260400003</real>
		<!-- 配置类型：0-组合，1-滤镜，2-背景，3-次背景, 4-前景, 5-描边 -->
		<key>Type</key>
		<integer>5</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>ScriptPath</key>
				<string>res/script.lua</string>
				<key>Type</key>
				<string>Script</string>
				<key>SegmentType</key>
				<string>2</string>
				<key>Thickness</key>
				<string>10.0</string>
				<key>Color</key>
				<string>0,0,0</string>
				<key>StrokeType</key>
				<string>2002</string>
			</dict>
		</array>
	</dict>
</plist>
