<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>EyeShadow</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>911_wcz.plist</string>
							<key>Rectangle</key>
							<string>220,497,208,142</string>
							<key>ORGBA</key>
							<string>90,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>EyeShadow</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>911_ggz.plist</string>
							<key>Rectangle</key>
							<string>308,569,79,38</string>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendSoftLight</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
