<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MPLIPSTICKV2</string>
					<key>LipstickType</key>
					<string>13</string>
					<key>TeethWhiten</key>
					<string>0</string>
					<key>WhitenDegree</key>
					<string>0.50</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>ORGBA</key>
							<string>85,0,0,0,255</string>
							<key>SubType</key>
							<integer>13</integer>
							<key>GlossAlpha</key>
							<integer>100</integer>
							<key>LightORGBA</key>
							<string>100,255,255,255,255</string>
							<key>Path</key>
							<string>baise-1.plist</string>
							<key>BlendMode</key>
							<string>BlendScreen</string>
							<key>Rectangle</key>
							<string>385,807,242,114</string>
						</dict>
						
					</array>
				</dict>
			</array>
		</dict>
	</array>
</plist>
