<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ID</key>
    <integer>1001</integer>
    <key>FilterPart</key>
    <array>
        <dict>
            <key>Type</key>
            <string>AnattaBeauty</string>
            <key>Filters</key>
            <array>
                <dict>
                    <key>Name</key>
                    <string>SourceInput</string>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>FleckFlawClean</string>
                    <key>IsNeedBeardProtect</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>SourceInput</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>DodgeBurn</string>
                    <key>Type</key>
                    <string>0</string>
                    <key>IsNeedWholeFaceMask</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>FleckFlawClean</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>FlawSmoothPro</string>
                    <key>IsNeedWholeFaceMask</key>
                    <string>1</string>
                    <key>FromSource</key>
                    <array>
                        <string>DodgeBurn</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>SkinSmooth</string>
                    <key>Type</key>
                    <string>SkinSmoothIns</string>
                    <key>IsNeedSkinMask</key>
                    <string>0</string>
                    <key>Threshold</key>
                    <string>0.1</string>
                    <key>BoxTexelSpacing</key>
                    <string>8.0</string>
                    <key>IsNeedDarkAlpha</key>
                    <string>0</string>
                    <key>FromSource</key>
                    <array>
                        <string>FlawSmoothPro</string>
                    </array>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>ResultOutput</string>
                    <key>FromSource</key>
                    <array>
                        <string>SkinSmooth</string>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
</dict>
</plist>
