<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MVCommonTextV2</string>
					<key>ID</key>
					<string>3101853806848</string>
					<key>Name</key>
					<string></string>
					<key>DrawLayerBorder</key>
					<integer>0</integer>
					<key>TextEnum</key>
					<integer>0</integer>
					<key>TextCommonStruct</key>
					<dict>
						<key>EnableFlip</key>
						<integer>1</integer>
						<key>DefaultSize</key>
						<string>550, 95</string>
						<key>Lines</key>
						<array>
							<dict>
								<key>RenderMode</key>
								<integer>3</integer>
								<key>TextString</key>
								<string>Share my daily</string>
								<key>FontLibrary</key>
								<string>ArialMT</string>
								<key>Size</key>
								<string>80.00</string>
								<key>RefFontSize</key>
								<string>80.00</string>
								<key>ORGBA</key>
								<string>100,255,247,153,255</string>
								<key>Bold</key>
								<integer>1</integer>
								<key>Italic</key>
								<integer>1</integer>
								<key>Underline</key>
								<integer>0</integer>
								<key>StrikeThrough</key>
								<integer>0</integer>
								<key>Spacing</key>
								<integer>30</integer>
								<key>LineSpacing</key>
								<integer>0</integer>
								<key>Justify</key>
								<integer>34</integer>
								<key>Rectangle</key>
								<string>0,0,550,95</string>
								<key>Horizontal</key>
								<integer>1</integer>
								<key>LeftToRight</key>
								<integer>1</integer>
								<key>Wrap</key>
								<integer>0</integer>
								<key>Shrink</key>
								<integer>1</integer>
								<key>RepeatToBound</key>
								<integer>0</integer>
								<key>EnableGlyphCenterAdvance</key>
								<integer>0</integer>
								<key>GlyphUnifomAdvance</key>
								<integer>-1</integer>
								<key>RemoveLineBreak</key>
								<integer>0</integer>
								<key>Pinyin</key>
								<integer>0</integer>
								<key>LayerStyleConfigs</key>
								<array>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Fill</string>
										<key>LayerStyle</key>
										<integer>0</integer>
										<key>BackgroundColorConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>0</integer>
											<key>RenderMode</key>
											<integer>2</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,255</string>
											<key>HorizonalMarginCoef</key>
											<string>-0.2000,-0.2000</string>
											<key>VerticalMarginCoef</key>
											<string>-0.0700,-0.0700</string>
											<key>RoundWeight</key>
											<string>0.40</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>Shadow</string>
										<key>LayerStyle</key>
										<integer>1</integer>
										<key>ShadowConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,156</string>
											<key>Offset</key>
											<string>1,-1</string>
											<key>Blur</key>
											<string>2.44</string>
											<key>BoldWidth</key>
											<string>0.00</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>LayerStyle_Glow</string>
										<key>LayerStyle</key>
										<integer>2</integer>
										<key>GlowConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>Offset</key>
											<string>0,0</string>
											<key>GlowVersion</key>
											<integer>2</integer>
											<key>ORGBA</key>
											<string>100,255,0,0,140</string>
											<key>Blur</key>
											<string>2.50</string>
											<key>StrokeWidth</key>
											<string>1.75</string>
											<key>GlowInAlpha</key>
											<string>0.00</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>Stroke</string>
										<key>LayerStyle</key>
										<integer>4</integer>
										<key>StrokeConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>0</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,255</string>
											<key>Size</key>
											<string>0.86</string>
											<key>Offset</key>
											<string>3,3</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>text</string>
										<key>LayerStyle</key>
										<integer>3</integer>
										<key>TextLayerConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>0</integer>
											<key>ColorCollection</key>
											<array>
												<string>0,0,0,255</string>
											</array>
											<key>Offset</key>
											<string>3,3</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>Stroke</string>
										<key>LayerStyle</key>
										<integer>4</integer>
										<key>StrokeConfig</key>
										<dict>
											<key>Enable</key>
											<integer>0</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>ORGBA</key>
											<string>100,0,0,0,255</string>
											<key>Size</key>
											<string>0.90</string>
											<key>Offset</key>
											<string>0,0</string>
										</dict>
									</dict>
									<dict>
										<key>LayerTag</key>
										<string>text</string>
										<key>LayerStyle</key>
										<integer>3</integer>
										<key>TextLayerConfig</key>
										<dict>
											<key>Enable</key>
											<integer>1</integer>
											<key>Editable</key>
											<integer>1</integer>
											<key>ColorCollection</key>
											<array>
												<string>255,255,255,255</string>
											</array>
											<key>Offset</key>
											<string>0,0</string>
										</dict>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</plist>
