<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>MVCommonTextV2</string>
				<key>TextEnum</key>
				<string>0</string>
				<key>TextCommonStruct</key>
				<dict>
					<key>DefaultSize</key>
					<string>750,200</string>
					<key>Lines</key>
					<array>
						<dict>
							<key>RenderMode</key>
							<string>1</string>
							<key>Wrap</key>
							<string>0</string>
							<key>Shrink</key>
							<string>0</string>
							<key>TextString</key>
							<string>输入文字</string>
							<key>Rectangle</key>
							<string>0,0,750,200</string>
							<key>FontLibrary</key>
							<string>SystemFont</string>
							<key>Size</key>
							<string>100</string>
							<key>ORGBA</key>
							<string>100,255,255,255,255</string>
							<key>Justify</key>
							<string>34</string>
							<key>LayerStyleConfigs</key>
							<array>
								<dict>
									<key>LayerTag</key>
									<string>BackgroundColor</string>
									<key>LayerStyle</key>
									<string>0</string>
									<key>BackgroundColorConfig</key>
									<dict>
										<key>Enable</key>
										<string>0</string>
										<key>RenderMode</key>
										<string>2</string>
										<key>ORGBA</key>
										<string>100,0,0,0,255</string>
										<key>RoundWeight</key>
										<string>0.3</string>
										<key>HorizonalMarginCoef</key>
										<string>-0.2, -0.2</string>
										<key>VerticalMarginCoef</key>
										<string>-0.1,-0.1</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>Shadow</string>
									<key>LayerStyle</key>
									<string>1</string>
									<key>ShadowConfig</key>
									<dict>
										<key>Enable</key>
										<string>0</string>
										<key>ORGBA</key>
										<string>100,0,0,0,153</string>
										<key>Offset</key>
										<string>1, 1</string>
										<key>Blur</key>
										<string>0</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>Glow</string>
									<key>LayerStyle</key>
									<string>2</string>
									<key>GlowConfig</key>
									<dict>
										<key>Enable</key>
										<string>0</string>
										<key>ORGBA</key>
										<string>100,255,255,0,255</string>
										<key>Blur</key>
										<string>1.4</string>
										<key>StrokeWidth</key>
										<string>1</string>
									</dict>
								</dict>
								<!-- <dict>
									<key>LayerTag</key>
									<string>Stroke</string>
									<key>LayerStyle</key>
									<string>4</string>
									<key>StrokeConfig</key>
									<dict>
										<key>Enable</key>
										<string>1</string>
										<key>Default</key>
										<string>1</string>
										<key>Editable</key>
										<string>0</string>
										<key>ORGBA</key>
										<string>25,0,0,0,255</string>
										<key>Size</key>
										<string>0.12</string>
									</dict>
								</dict> -->
								<dict>
									<key>LayerTag</key>
									<string>Stroke</string>
									<key>LayerStyle</key>
									<string>4</string>
									<key>StrokeConfig</key>
									<dict>
										<key>Enable</key>
										<string>0</string>
										<key>ORGBA</key>
										<string>25,0,0,0,255</string>
										<key>Size</key>
										<string>0.12</string>
									</dict>
								</dict>
								<dict>
									<key>LayerTag</key>
									<string>Text</string>
									<key>LayerStyle</key>
									<string>3</string>
									<key>TextLayerConfig</key>
									<dict>
										<key>Enable</key>
										<string>1</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
