<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>AnattaBeauty</string>
				<key>ConfigurationPath</key>
				<string>configuration.plist</string>
				<key>ProjectType</key>
				<string>MTXX</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
